.text-shadow
{
    text-shadow: 0 0 2px #000, 0 0 5px #000;
}
.box-shadow
{
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}
body
{
    font-family: 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

    color: #333;
    background-color: #fff;
}
main
{
    font-size: 16px;
}
a
{
    color: #34a4be;
}
a:hover,
a:focus
{
    color: #29869d;
}
a.img-link
{
    display: block;
}
h4,
h5,
h6,
.h4,
.h5,
.h6
{
    font-weight: 700;
}
img.img-tn,
span.img-tn,
img.img-xs,
span.img-xs,
img.img-sm,
span.img-sm,
img.img-md,
span.img-md
{
    display: block;
}
.btn-aqua
{
    color: #fff;
    border-color: #2e93aa;
    background-color: #34a4be;
}
.btn-aqua:hover,
.btn-aqua:focus,
.btn-aqua:active,
.btn-aqua.active,
.open > .dropdown-toggle.btn-aqua
{
    color: #fff;
    border-color: #21697a;
    background-color: #298196;
}
.btn-aqua:active,
.btn-aqua.active,
.open > .dropdown-toggle.btn-aqua
{
    background-image: none;
}
.btn-aqua.disabled,
.btn-aqua[disabled],
fieldset[disabled] .btn-aqua,
.btn-aqua.disabled:hover,
.btn-aqua[disabled]:hover,
fieldset[disabled] .btn-aqua:hover,
.btn-aqua.disabled:focus,
.btn-aqua[disabled]:focus,
fieldset[disabled] .btn-aqua:focus,
.btn-aqua.disabled:active,
.btn-aqua[disabled]:active,
fieldset[disabled] .btn-aqua:active,
.btn-aqua.disabled.active,
.btn-aqua[disabled].active,
fieldset[disabled] .btn-aqua.active
{
    border-color: #2e93aa;
    background-color: #34a4be;
}
.btn-aqua .badge
{
    color: #34a4be;
    background-color: #fff;
}
.badge
{
    background-color: #8c8541;
}
.noren-top
{
    background-color: #640125;
}
@media (min-width: 768px)
{
    .noren-top .navbar-brand
    {
        height: auto;
        padding: 0;
    }
}
.noren-top .navbar-toggle
{
    border-color: #a35b75;
}
.noren-top .navbar-toggle:hover,
.noren-top .navbar-toggle:active
{
    background-color: #a35b75;
}
.noren-top .navbar-toggle .icon-bar
{
    background-color: #c89cac;
}
.noren-top .logo
{
    margin-top: 1px;
    margin-bottom: 1px;
}
@media (min-width: 768px)
{
    .noren-top .logo
    {
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: -15px;
    }
}
.noren-top .logo > .symbol-mark
{
    float: left;

    width: 60px;
    height: 60px;
    margin-top: -5px;

    background-image: url('/images/s/symbol-mark.png');
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
{
    .noren-top .logo > .symbol-mark
    {
        background-image: url('/images/s/symbol-mark@2x.png');
        -webkit-background-size: 60px 60px;
                background-size: 60px 60px;
    }
}
.noren-top .logo > .logo-type
{
    width: 188px;
    height: 18px;

    background-image: url('/images/l/logo-type-xs.png');
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)
{
    .noren-top .logo > .logo-type
    {
        background-image: url('/images/l/logo-type-xs@2x.png');
        -webkit-background-size: 188px 18px;
                background-size: 188px 18px;
    }
}
@media (min-width: 768px)
{
    .noren-top .logo > .logo-type
    {
        width: 266px;
        height: 25px;
        margin-left: 75px;

        background-image: url('/images/l/logo-type.png');
    }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (min-resolution: 2dppx)
{
    .noren-top .logo > .logo-type
    {
        background-image: url('/images/l/logo-type@2x.png');
        -webkit-background-size: 266px 25px;
                background-size: 266px 25px;
    }
}
.noren-top .tag-line
{
    font-size: 14px;
    line-height: 15px;

    margin-top: 5px;
    margin-left: 60px;

    color: #eee;
}
.noren-top a:hover,
.noren-top a:active
{
    text-decoration: none !important;
}
.noren-top .search
{
    margin: 10px -15px 0 0;
}
.noren-bottom
{
    background-color: #640125;
}
@media (min-width: 768px)
{
    .noren-bottom
    {
        overflow: hidden;

        padding-bottom: 6px;

        color: #eee;
        background-color: inherit;
    }
}
@media (min-width: 768px)
{
    .noren-bottom > .container
    {
        position: relative;
    }
}
.noren-bottom > .container > .nav-noren-wrapper.navbar-collapse
{
    -webkit-box-shadow: inset 0 1px 0 #a35b75;
            box-shadow: inset 0 1px 0 #a35b75;
}
@media (min-width: 768px)
{
    .noren-bottom > .container > .nav-noren-wrapper
    {
        margin-right: -15px;
        margin-left: -15px;
    }
    .noren-bottom > .container > .nav-noren-wrapper:before,
  .noren-bottom > .container > .nav-noren-wrapper:after
    {
        position: absolute;
        top: 0;

        display: block;

        width: 10000px;
        height: 40px;

        content: ' ';

        background: #640125;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
                box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    }
    .noren-bottom > .container > .nav-noren-wrapper:before
    {
        left: -10001px;
    }
    .noren-bottom > .container > .nav-noren-wrapper:after
    {
        right: -10001px;
    }
}
@media (min-width: 768px)
{
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren
    {
        margin-bottom: 0;
        padding-left: 0;

        list-style: none;
    }
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren:before,
  .noren-bottom > .container > .nav-noren-wrapper .nav-noren:after
    {
        display: table;

        content: ' ';
    }
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren:after
    {
        clear: both;
    }
}
@media (min-width: 768px)
{
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li
    {
        position: relative;

        display: block;
        float: left;

        width: 125px;
        min-height: 1px;
        padding-right: 1px;
        padding-left: 1px;

        text-align: center;

        -webkit-perspective: 400px;
                perspective: 400px;
    }
}
@media (min-width: 992px)
{
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li
    {
        width: 162px;
    }
}
@media (min-width: 992px) and (max-width: 1199px)
{
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li:nth-child(1),
  .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li:nth-child(2)
    {
        width: 161px;
    }
}
@media (min-width: 1200px)
{
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li
    {
        width: 195px;
    }
}
.noren-bottom > .container > .nav-noren-wrapper .nav-noren > li > a
{
    color: #eee;
}
@media (min-width: 768px)
{
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li > a
    {
        line-height: 1.42857143;

        display: block;

        padding: 10px 0;

        -webkit-transition: -webkit-transform ease .5s;
             -o-transition:      -o-transform ease .5s;
                transition:         transform ease .5s;
        -webkit-transform: rotateX(0deg);
             -o-transform: rotateX(0deg);
                transform: rotateX(0deg);
        -webkit-transform-origin: 50% 0;
            -ms-transform-origin: 50% 0;
             -o-transform-origin: 50% 0;
                transform-origin: 50% 0;
        white-space: pre;

        background-color: #640125;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
                box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    }
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li > a:before,
  .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li > a:after
    {
        position: absolute;
        top: 0;
        right: 1px;
        bottom: 0;
        left: 1px;

        display: block;

        width: auto;
        height: auto;
        margin: 0;

        content: ' ';
        -webkit-transition: opacity ease .5s;
             -o-transition: opacity ease .5s;
                transition: opacity ease .5s;
        pointer-events: none;

        opacity: 0;

        filter: alpha(opacity=0);
    }
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li > a:before
    {
        background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 20%, rgba(255, 255, 255, .2));
        background-image:      -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 20%, rgba(255, 255, 255, .2));
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .2)));
        background-image:         linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 20%, rgba(255, 255, 255, .2));
        background-repeat: no-repeat;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#33ffffff', GradientType=0);
    }
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li > a:after
    {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, .2));
        background-image:      -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, .2));
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .2)));
        background-image:         linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, .2));
        background-repeat: no-repeat;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#33000000', GradientType=0);
    }
}
.noren-bottom > .container > .nav-noren-wrapper .nav-noren > li > a:hover,
.noren-bottom > .container > .nav-noren-wrapper .nav-noren > li > a:focus
{
    text-decoration: none;

    color: #fff;
    background-color: #a35b75;
}
@media (min-width: 768px)
{
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li > a:hover,
  .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li > a:focus
    {
        -webkit-transform: rotateX(30deg);
             -o-transform: rotateX(30deg);
                transform: rotateX(30deg);

        background-color: #640125;
    }
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li > a:hover:before,
  .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li > a:focus:before
    {
        opacity: 1;

        filter: alpha(opacity=100);
    }
}
@media (min-width: 768px)
{
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li:hover
    {
        z-index: 100;
    }
}
@media (min-width: 768px)
{
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active
    {
        z-index: 50;
    }
}
.noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a,
.noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a:hover,
.noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a:focus
{
    background-color: #a35b75;
}
@media (min-width: 768px)
{
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a,
  .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a:hover,
  .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a:focus
    {
        cursor: default;
        -webkit-transition: none;
             -o-transition: none;
                transition: none;
        -webkit-transform: none;
            -ms-transform: none;
             -o-transform: none;
                transform: none;
        -webkit-animation: swing ease-in-out 3s infinite alternate;
             -o-animation: swing ease-in-out 3s infinite alternate;
                animation: swing ease-in-out 3s infinite alternate;

        color: #eee;
        background-color: #640125;
    }
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a:before,
  .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a:hover:before,
  .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a:focus:before,
  .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a:after,
  .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a:hover:after,
  .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a:focus:after
    {
        -webkit-transition: none;
             -o-transition: none;
                transition: none;

        opacity: 0;

        filter: alpha(opacity=0);
    }
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a:before,
  .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a:hover:before,
  .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a:focus:before
    {
        -webkit-animation: highlight ease-in-out 3s infinite alternate;
             -o-animation: highlight ease-in-out 3s infinite alternate;
                animation: highlight ease-in-out 3s infinite alternate;
    }
    .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a:after,
  .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a:hover:after,
  .noren-bottom > .container > .nav-noren-wrapper .nav-noren > li.active > a:focus:after
    {
        -webkit-animation: highlight ease-in-out 3s infinite alternate-reverse;
             -o-animation: highlight ease-in-out 3s infinite alternate-reverse;
                animation: highlight ease-in-out 3s infinite alternate-reverse;
    }
}
@-webkit-keyframes swing
{
    0%
    {
        -webkit-transform: rotateX(20deg);
                transform: rotateX(20deg);
    }
    100%
    {
        -webkit-transform: rotateX(-20deg);
                transform: rotateX(-20deg);
    }
}
@-o-keyframes swing
{
    0%
    {
        -o-transform: rotateX(20deg);
           transform: rotateX(20deg);
    }
    100%
    {
        -o-transform: rotateX(-20deg);
           transform: rotateX(-20deg);
    }
}
@keyframes swing
{
    0%
    {
        -webkit-transform: rotateX(20deg);
             -o-transform: rotateX(20deg);
                transform: rotateX(20deg);
    }
    100%
    {
        -webkit-transform: rotateX(-20deg);
             -o-transform: rotateX(-20deg);
                transform: rotateX(-20deg);
    }
}
@-webkit-keyframes highlight
{
    0%
    {
        opacity: .5;

        filter: alpha(opacity=50);
    }
    50%
    {
        opacity: 0;

        filter: alpha(opacity=0);
    }
    100%
    {
        opacity: 0;

        filter: alpha(opacity=0);
    }
}
@-o-keyframes highlight
{
    0%
    {
        opacity: .5;

        filter: alpha(opacity=50);
    }
    50%
    {
        opacity: 0;

        filter: alpha(opacity=0);
    }
    100%
    {
        opacity: 0;

        filter: alpha(opacity=0);
    }
}
@keyframes highlight
{
    0%
    {
        opacity: .5;

        filter: alpha(opacity=50);
    }
    50%
    {
        opacity: 0;

        filter: alpha(opacity=0);
    }
    100%
    {
        opacity: 0;

        filter: alpha(opacity=0);
    }
}
footer
{
    margin-top: 60px;

    color: #eee;
    background-color: #777;
}
footer a,
footer a:hover,
footer a:active
{
    color: #a4dae6;
}
footer h4
{
    margin-top: 40px;
}
@media only screen and (min-width: 768px)
{
    footer .map
    {
        width: 220px;
        height: 220px;

        background-image: url('http://maps.googleapis.com/maps/api/staticmap?visible=35.33159%2C139.348566%7C35.327912%2C139.350608&maptype=roadmap&markers=size%3Asmall%7Ccolor%3Ared%7C35.33159%2C139.348566&sensor=false&&size=220x220&scale=1');

        dispay: inline-block;
    }
}
@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), only screen and (min-width: 768px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (min-resolution: 2dppx)
{
    footer .map
    {
        background-image: url('http://maps.googleapis.com/maps/api/staticmap?visible=35.33159%2C139.348566%7C35.327912%2C139.350608&maptype=roadmap&markers=size%3Asmall%7Ccolor%3Ared%7C35.33159%2C139.348566&sensor=false&&size=220x220&scale=2');
        -webkit-background-size: 220px 220px;
                background-size: 220px 220px;
    }
}
@media only screen and (min-width: 992px)
{
    footer .map
    {
        width: 293px;
        height: 220px;

        background-image: url('http://maps.googleapis.com/maps/api/staticmap?visible=35.33159%2C139.348566%7C35.327912%2C139.350608&maptype=roadmap&markers=size%3Asmall%7Ccolor%3Ared%7C35.33159%2C139.348566&sensor=false&&size=293x220&scale=1');
    }
}
@media only screen and (min-width: 992px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 992px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 992px) and (-o-min-device-pixel-ratio: 2/1), only screen and (min-width: 992px) and (min-device-pixel-ratio: 2), only screen and (min-width: 992px) and (min-resolution: 192dpi), only screen and (min-width: 992px) and (min-resolution: 2dppx)
{
    footer .map
    {
        background-image: url('http://maps.googleapis.com/maps/api/staticmap?visible=35.33159%2C139.348566%7C35.327912%2C139.350608&maptype=roadmap&markers=size%3Asmall%7Ccolor%3Ared%7C35.33159%2C139.348566&sensor=false&&size=293x220&scale=2');
        -webkit-background-size: 293px 220px;
                background-size: 293px 220px;
    }
}
@media only screen and (min-width: 1200px)
{
    footer .map
    {
        width: 360px;
        height: 220px;

        background-image: url('http://maps.googleapis.com/maps/api/staticmap?visible=35.33159%2C139.348566%7C35.327912%2C139.350608&maptype=roadmap&markers=size%3Asmall%7Ccolor%3Ared%7C35.33159%2C139.348566&sensor=false&&size=360x220&scale=1');
    }
}
@media only screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), only screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (min-resolution: 192dpi), only screen and (min-width: 1200px) and (min-resolution: 2dppx)
{
    footer .map
    {
        background-image: url('http://maps.googleapis.com/maps/api/staticmap?visible=35.33159%2C139.348566%7C35.327912%2C139.350608&maptype=roadmap&markers=size%3Asmall%7Ccolor%3Ared%7C35.33159%2C139.348566&sensor=false&&size=360x220&scale=2');
        -webkit-background-size: 360px 220px;
                background-size: 360px 220px;
    }
}
footer .fb-like-box iframe
{
    background-color: #eee;
}
footer .copyright
{
    margin: 20px 0;

    text-align: center;
}
footer .form-control
{
    color: #eee;
    border-color: #eee;
    background-color: transparent;
}
footer .form-control::-moz-placeholder
{
    opacity: 1;
    color: #ccc;
}
footer .form-control:-ms-input-placeholder
{
    color: #ccc;
}
footer .form-control::-webkit-input-placeholder
{
    color: #ccc;
}
footer .form-control:focus
{
    color: #333;
    border-color: #a4dae6;
    outline: 0;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164, 218, 230, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164, 218, 230, .6);
}
footer .btn
{
    color: #777;
    border-color: #e2e2e2;
    background-color: #eee;
}
footer .btn:hover,
footer .btn:focus,
footer .btn:active,
footer .btn.active,
.open > .dropdown-togglefooter .btn
{
    color: #777;
    border-color: #c3c3c3;
    background-color: #d5d5d5;
}
footer .btn:active,
footer .btn.active,
.open > .dropdown-togglefooter .btn
{
    background-image: none;
}
footer .btn.disabled,
footer .btn[disabled],
fieldset[disabled] footer .btn,
footer .btn.disabled:hover,
footer .btn[disabled]:hover,
fieldset[disabled] footer .btn:hover,
footer .btn.disabled:focus,
footer .btn[disabled]:focus,
fieldset[disabled] footer .btn:focus,
footer .btn.disabled:active,
footer .btn[disabled]:active,
fieldset[disabled] footer .btn:active,
footer .btn.disabled.active,
footer .btn[disabled].active,
fieldset[disabled] footer .btn.active
{
    border-color: #e2e2e2;
    background-color: #eee;
}
footer .btn .badge
{
    color: #eee;
    background-color: #777;
}
@media (min-width: 768px)
{
    .layout-home .same-as-youtube
    {
        overflow: hidden;

        width: 274px;
        height: 224px;
    }
    .layout-home .same-as-youtube img
    {
        position: relative;
        top: -25px;
    }
}
@media (min-width: 992px)
{
    .layout-home .same-as-youtube
    {
        width: 366px;
        height: 296px;
    }
    .layout-home .same-as-youtube img
    {
        top: -35px;
    }
}
@media (min-width: 1200px)
{
    .layout-home .same-as-youtube
    {
        width: 449px;
        height: 362px;
    }
    .layout-home .same-as-youtube img
    {
        top: -44px;
    }
}
section h2
{
    font-family: Georgia, 'Times New Roman', Times, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;

    margin: 60px 0 20px;
    padding-bottom: 9px;

    border-bottom: 1px solid #eee;
}
.before .thumbnail,
.after .thumbnail
{
    position: relative;

    max-width: 385px;
}
.before .thumbnail:before,
.after .thumbnail:before
{
    font-family: 'Glyphicons Halflings';
    font-weight: normal;
    font-style: normal;
    line-height: 1;

    position: absolute;
    top: 10px;
    right: 10px;

    padding: 0;

    content: '\e015';
    pointer-events: none;

    color: #fff;
    text-shadow: 0 0 2px #000, 0 0 5px #000;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.before .thumbnail:after,
.after .thumbnail:after
{
    font-family: Georgia, 'Times New Roman', Times, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
    font-size: 24px;
    font-weight: 500;

    position: absolute;
    right: 4px;
    bottom: 4px;
    left: 4px;

    padding: 0;

    text-align: center;
    pointer-events: none;

    color: #fff;
    text-shadow: 0 0 2px #000, 0 0 5px #000;
}
.before .thumbnail:after
{
    content: 'Before';
}
.after .thumbnail:after
{
    content: 'After';
}
.section-jumbotron
{
    margin-top: -70px;
    padding-top: 40px;

    background-color: #29869d;
}
.section-jumbotron > .jumbotron
{
    margin-bottom: 0;

    background-position: center center;
    -webkit-background-size: cover cover;
            background-size: cover;

    -ms-behavior: url(/css/backgroundsize.min.htc);
}
@media (min-width: 768px)
{
    .section-jumbotron > .jumbotron
    {
        margin-bottom: 30px;
    }
}
.section-jumbotron > .jumbotron > .container
{
    position: relative;

    height: 167px;
}
@media (min-width: 768px)
{
    .section-jumbotron > .jumbotron > .container
    {
        height: 211px;
    }
}
@media (min-width: 992px)
{
    .section-jumbotron > .jumbotron > .container
    {
        height: 300px;
    }
}
@media (min-width: 1200px)
{
    .section-jumbotron > .jumbotron > .container
    {
        height: 384px;
    }
}
.section-jumbotron > .jumbotron > .container > .jumbotron-inner
{
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;

    width: auto;
    padding-top: 0;
    padding-bottom: 0;

    text-align: right;

    color: #eee;
    text-shadow: 0 0 2px #000, 0 0 5px #000;
}
.section-jumbotron > .jumbotron > .container > .jumbotron-inner h1
{
    font-family: Georgia, 'Times New Roman', Times, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
    font-size: 24px;
}
.section-jumbotron > .jumbotron > .container > .jumbotron-inner p
{
    font-size: 14px;

    margin-bottom: 0;
}
@media (min-width: 768px)
{
    .section-jumbotron > .jumbotron > .container > .jumbotron-inner h1
    {
        font-size: 63px;
    }
    .section-jumbotron > .jumbotron > .container > .jumbotron-inner p
    {
        font-size: 21px;
    }
}
@media (min-width: 768px)
{
    .section-jumbotron > .jumbotron > .container > .jumbotron-inner a.btn
    {
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
        text-shadow: none;
    }
}
.jumbotron-outer
{
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;

    color: #222;
}
.nav-arrows
{
    position: relative;
    left: 50%;

    float: left;

    margin-bottom: 15px;
    padding-left: 0;

    list-style: none;
}
.nav-arrows > li
{
    position: relative;
    left: -50%;

    display: block;
    float: left;
}
.nav-arrows > li > a
{
    font-size: 14px;
    line-height: 1;

    position: relative;

    display: block;

    width: 34px;
    height: 104px;
    padding: 10px 10px;

    color: #34a4be;
    background-color: #eee;
}
.nav-arrows > li > a:hover,
.nav-arrows > li > a:focus
{
    text-decoration: none;

    color: #fff;
    background-color: #29869d;
}
.nav-arrows > li > a:hover:after,
.nav-arrows > li > a:focus:after
{
    border-color: transparent transparent transparent #29869d;
}
.nav-arrows > li > a:after
{
    position: absolute;
    top: 0;
    right: -10px;

    display: block;

    width: 10px;
    height: 104px;

    content: ' ';

    border-width: 52px 0 52px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #eee;
}
.nav-arrows > li + li
{
    margin-left: 15px;
}
.nav-arrows > li.active > a,
.nav-arrows > li.active > a:hover,
.nav-arrows > li.active > a:focus
{
    cursor: default;

    color: #fff;
    background-color: #34a4be;
}
.nav-arrows > li.active > a:after
{
    border-color: transparent transparent transparent #34a4be;
}
.carousel-outer-indicators
{
    overflow: hidden;
}
.carousel
{
    clear: both;

    width: 100%;
    margin-bottom: 15px;
}
.carousel .carousel-caption
{
    right: 0;
    bottom: 10px;
    left: 0;

    padding-top: 0;
    padding-bottom: 20px;

    background-color: rgba(0, 0, 0, .25);
}
@media (min-width: 768px)
{
    .carousel .carousel-caption
    {
        bottom: 20px;
    }
}
.carousel .carousel-caption h3,
.carousel .carousel-caption .h3
{
    font-size: 14px;

    margin-top: 10px;
}
@media (min-width: 768px)
{
    .carousel .carousel-caption h3,
  .carousel .carousel-caption .h3
    {
        font-size: 24px;
    }
}
.carousel .carousel-caption p
{
    font-size: 14px;
}
@media (max-width: 767px)
{
    .carousel .carousel-caption p
    {
        display: none !important;
    }
}
.carousel .carousel-indicators
{
    font-size: 12px;

    margin-bottom: 5px;
}
@media (min-width: 768px)
{
    .carousel .carousel-indicators
    {
        font-size: 14px;
    }
}
.banner-vertical
{
    margin-bottom: 15px;
    padding-left: 0;

    list-style: none;
}
.banner-vertical > li
{
    line-height: 1;
}
@media (min-width: 768px)
{
    .banner-vertical > li
    {
        float: left;
    }
}
.banner-vertical > li > a
{
    display: block;

    height: 62px;
    padding: 0;

    -webkit-transition: border-color .2s ease-in-out;
         -o-transition: border-color .2s ease-in-out;
            transition: border-color .2s ease-in-out;
    text-decoration: none;

    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}
@media (min-width: 768px)
{
    .banner-vertical > li > a
    {
        height: auto;
        margin-bottom: 20px;
    }
}
.banner-vertical > li > a:hover,
.banner-vertical > li > a:active
{
    border-color: #34a4be;
    background-color: #fff;
}
.banner-vertical > li > a:hover > .banner-vertical-label,
.banner-vertical > li > a:active > .banner-vertical-label
{
    color: #34a4be;
}
.banner-vertical > li > a > .banner-vertical-img
{
    float: left;

    width: 60px !important;
    height: 60px;
}
@media (min-width: 768px)
{
    .banner-vertical > li > a > .banner-vertical-img
    {
        float: none;

        width: 60px !important;
        height: 60px;
        margin: 0 auto 0;
    }
}
@media (min-width: 992px)
{
    .banner-vertical > li > a > .banner-vertical-img
    {
        width: 75px !important;
        height: 75px;
    }
}
@media (min-width: 1200px)
{
    .banner-vertical > li > a > .banner-vertical-img
    {
        width: 100px !important;
        height: 100px;
    }
}
.banner-vertical > li > a > .banner-vertical-label
{
    position: relative;

    margin: 0 0 0 65px;

    -webkit-transition: color .2s ease-in-out;
         -o-transition: color .2s ease-in-out;
            transition: color .2s ease-in-out;

    color: #333;
}
.banner-vertical > li > a > .banner-vertical-label > h4
{
    font-family: Georgia, 'Times New Roman', Times, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
    line-height: 1;

    margin-top: 5px;
    margin-bottom: 5px;
}
.banner-vertical > li > a > .banner-vertical-label > .banner-vertical-snipet-1st,
.banner-vertical > li > a > .banner-vertical-label > .banner-vertical-snipet-2nd
{
    line-height: 1;
}
.banner-vertical > li > a > .banner-vertical-label .cho-on
{
    display: inline-block;

    -webkit-transform: rotate(90deg) scale(1, -1);
        -ms-transform: rotate(90deg) scale(1, -1);
         -o-transform: rotate(90deg) scale(1, -1);
            transform: rotate(90deg) scale(1, -1);
}
.banner-vertical > li > a > .banner-vertical-label .kogaki
{
    -webkit-transform: translateX(.2em);
        -ms-transform: translateX(.2em);
         -o-transform: translateX(.2em);
            transform: translateX(.2em);
}
.banner-vertical > li > a > .banner-vertical-label .kutouten
{
    -webkit-transform: translate(.2em, -.5em);
        -ms-transform: translate(.2em, -.5em);
         -o-transform: translate(.2em, -.5em);
            transform: translate(.2em, -.5em);
}
@media (min-width: 768px)
{
    .banner-vertical > li > a > .banner-vertical-label
    {
        width: 60px;
        height: 200px;
        margin: 0;
    }
    .banner-vertical > li > a > .banner-vertical-label > h4
    {
        position: absolute;
        top: 10px;
        right: 2.66666666px;

        width: 18px;
        margin: 0;

        text-align: center;
    }
    .banner-vertical > li > a > .banner-vertical-label > .banner-vertical-snipet-1st
    {
        font-size: 14px;

        position: absolute;
        top: 10px;
        right: 23.33333333px;

        width: 14px;
        margin: 0;

        text-align: center;
    }
    .banner-vertical > li > a > .banner-vertical-label > .banner-vertical-snipet-2nd
    {
        font-size: 14px;

        position: absolute;
        top: 10px;
        right: 43.33333334px;

        width: 14px;
        margin: 0;

        text-align: center;
    }
}
@media (min-width: 992px)
{
    .banner-vertical > li > a > .banner-vertical-label
    {
        width: 75px;
    }
    .banner-vertical > li > a > .banner-vertical-label > h4
    {
        right: 7.66666666px;
    }
    .banner-vertical > li > a > .banner-vertical-label > .banner-vertical-snipet-1st
    {
        right: 33.33333333px;
    }
    .banner-vertical > li > a > .banner-vertical-label > .banner-vertical-snipet-2nd
    {
        right: 53.33333334px;
    }
}
@media (min-width: 1200px)
{
    .banner-vertical > li > a > .banner-vertical-label
    {
        width: 100px;
    }
    .banner-vertical > li > a > .banner-vertical-label > h4
    {
        right: 16px;
    }
    .banner-vertical > li > a > .banner-vertical-label > .banner-vertical-snipet-1st
    {
        right: 50px;
    }
    .banner-vertical > li > a > .banner-vertical-label > .banner-vertical-snipet-2nd
    {
        right: 70px;
    }
}
.banner-vertical > li.active > a,
.banner-vertical > li.active > a:hover,
.banner-vertical > li.active > a:focus
{
    cursor: default;

    border-color: #333;
}
.banner-vertical > li.active > a > .banner-vertical-label,
.banner-vertical > li.active > a:hover > .banner-vertical-label,
.banner-vertical > li.active > a:focus > .banner-vertical-label
{
    color: #333;
}
.banner-vertical > li + li
{
    margin-top: 10px;
}
@media (min-width: 768px)
{
    .banner-vertical > li + li
    {
        margin-top: 0;
        margin-left: 20.25px;
    }
}
@media (min-width: 992px)
{
    .banner-vertical > li + li
    {
        margin-left: 30.875px;
    }
}
@media (min-width: 1200px)
{
    .banner-vertical > li + li
    {
        margin-left: 27.75px;
    }
}
.banner-vertical > li.active > a,
.banner-vertical > li.active > a:hover,
.banner-vertical > li.active > a:focus
{
    color: #29869d;
}
a.thumbnail.banner-slim
{
    position: relative;

    -webkit-transition: border-color .2s ease-in-out;
         -o-transition: border-color .2s ease-in-out;
            transition: border-color .2s ease-in-out;
}
a.thumbnail.banner-slim .caption
{
    position: absolute;
    right: 4px;
    bottom: 4px;
    left: 4px;

    padding: 0;

    -webkit-transition: color .2s ease-in-out;
         -o-transition: color .2s ease-in-out;
            transition: color .2s ease-in-out;
    text-align: center;

    color: #fff;
    background-color: rgba(0, 0, 0, .25);
}
a.thumbnail.banner-slim .caption h3
{
    font-family: Georgia, 'Times New Roman', Times, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;

    margin-top: 10px;
    margin-bottom: 5px;
}
a.thumbnail.banner-slim .caption p
{
    margin-bottom: 5px;
}
a.thumbnail.banner-slim:hover,
a.thumbnail.banner-slim:active
{
    text-decoration: none;

    border-color: #34a4be;
}
a.thumbnail.banner-slim:hover .caption,
a.thumbnail.banner-slim:active .caption
{
    color: #34a4be;
}
a.thumbnail.banner-related
{
    -webkit-transition: border-color .2s ease-in-out;
         -o-transition: border-color .2s ease-in-out;
            transition: border-color .2s ease-in-out;
}
a.thumbnail.banner-related .caption
{
    -webkit-transition: color .2s ease-in-out;
         -o-transition: color .2s ease-in-out;
            transition: color .2s ease-in-out;
}
a.thumbnail.banner-related:hover,
a.thumbnail.banner-related:active
{
    text-decoration: none;

    border-color: #34a4be;
}
a.thumbnail.banner-related:hover .caption,
a.thumbnail.banner-related:active .caption
{
    color: #34a4be;
}
.img-lightbox
{
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor:         zoom-in;
}
.modal
{
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor:         zoom-out;
}
.modal > .modal-dialog
{
    cursor: default;
}
.ie-alert
{
    padding: 5px 0;

    color: #fff;
    background-color: #8c8541;
}
.ie-alert a,
.ie-alert a:hover,
.ie-alert a:active
{
    font-weight: 700;

    color: #a4dae6;
}
@media only screen and (min-width: 768px)
{
    main .map
    {
        width: 720px;
        height: 540px;
        padding-bottom: 0;

        border: 0;
    }
}
