---
title: Images
layout: default
---
<div class="container">
    <h2>画像</h2>

    <p>画像は<code>&lt;div&gt;</code>タグで記述します。自動的に<code>&lt;img&gt;</code>タグに書き換えられます。</p>

    <h3>Extra Small サイズ</h3>
    {% capture html %}<img class="img-xs" data-src="/images/d/dummy-{width}{pixel_ratio}.png" data-alt="dummy" data-class="img-responsive img-rounded">{% endcapture %}
<pre>
{{ html | escape }}
</pre>
    <p>
        {{ html }}
    </p>

    <h3>Small サイズ</h3>
    {% capture html %}<img class="img-sm" data-src="/images/d/dummy-{width}{pixel_ratio}.png" data-alt="dummy" data-class="img-responsive img-rounded">{% endcapture %}
<pre>
{{ html | escape }}
</pre>
    <p>
        {{ html }}
    </p>

    <h3>Medium サイズ</h3>

    {% capture html %}<img class="img-md" data-src="/images/d/dummy-{width}{pixel_ratio}.png" data-alt="dummy" data-class="img-responsive img-rounded">{% endcapture %}
<pre>
{{ html | escape }}
</pre>
    <p>
        {{ html }}
    </p>

    <h3>data-width指定</h3>
    {% capture html %}<img class="img-xs" data-width="100" data-src="/images/d/dummy-{width}{pixel_ratio}.png" data-alt="dummy" data-class="img-responsive img-rounded">{% endcapture %}
<pre>
{{ html | escape }}
</pre>
    <p>
        {{ html }}
    </p>

    <h3>pixel rationのみに利用</h3>
    {% capture html %}<img class="img-xs" data-width="100" data-src="/images/d/dummy-xs{pixel_ratio}.png" data-alt="dummy" data-class="img-responsive img-rounded">{% endcapture %}
<pre>
{{ html | escape }}
</pre>
    <p>
        {{ html }}
    </p>

    <h3>4カラム</h3>
    <div class="row">
        <div class="col-sm-3">
            <img class="img-xs" data-src="/images/d/dummy-{width}{pixel_ratio}.png" data-alt="dummy" data-class="img-responsive img-rounded">
        </div>
        <div class="col-sm-3">
            <img class="img-xs" data-src="/images/d/dummy-{width}{pixel_ratio}.png" data-alt="dummy" data-class="img-responsive img-rounded">
        </div>
        <div class="col-sm-3">
            <img class="img-xs" data-src="/images/d/dummy-{width}{pixel_ratio}.png" data-alt="dummy" data-class="img-responsive img-rounded">
        </div>
        <div class="col-sm-3">
            <img class="img-xs" data-src="/images/d/dummy-{width}{pixel_ratio}.png" data-alt="dummy" data-class="img-responsive img-rounded">
        </div>
    </div>

    <h3>3カラム</h3>
    <div class="row">
        <div class="col-sm-4">
            <img class="img-sm" data-src="/images/d/dummy-{width}{pixel_ratio}.png" data-alt="dummy" data-class="img-responsive img-rounded">
        </div>
        <div class="col-sm-4">
            <img class="img-sm" data-src="/images/d/dummy-{width}{pixel_ratio}.png" data-alt="dummy" data-class="img-responsive img-rounded">
        </div>
        <div class="col-sm-4">
            <img class="img-sm" data-src="/images/d/dummy-{width}{pixel_ratio}.png" data-alt="dummy" data-class="img-responsive img-rounded">
        </div>
    </div>

    <h3>2カラム</h3>
    <div class="row">
        <div class="col-sm-6">
            <img class="img-sm" data-src="/images/d/dummy-{width}{pixel_ratio}.png" data-alt="dummy" data-class="img-responsive img-rounded">
        </div>
        <div class="col-sm-6">
            <img class="img-sm" data-src="/images/d/dummy-{width}{pixel_ratio}.png" data-alt="dummy" data-class="img-responsive img-rounded">
        </div>
    </div>

    <h3>1カラム</h3>
    <div class="row">
        <div class="col-sm-12">
            <img class="img-md" data-src="/images/d/dummy-{width}{pixel_ratio}.png" data-alt="dummy" data-class="img-responsive img-rounded">
        </div>
    </div>
</div>