---
title: だるまや京染本店
description: だるまやは全員が洗い張り職人の呉服屋です。<br>きものの悩みをお持ちの方の駆け込み寺を目指しています！<br><a href="/information/" class="btn btn-aqua">だるまやのご紹介を見る</a>
main_visual: '/images/t/top-jumbotron-DSC09861-{width}{pixel_ratio}.jpg'
layout: home
questions:
    - title: 郵送での依頼方法を知りたい
      link: /information/requestmethod.html
    - title: お手入れの料金を知りたい
      link: /maintenance/fee.html
    - title: ニュースレターを受け取りたい
      link: /information/newsletter.html
    - title: きものにしみを付けてしまった
      link: /maintenance/shiminuki.html
    - title: きものを仕立て直したい
      link: /revival/shitatenaoshi.html
    - title: 問い合わせしたい
      link: /information/contact.html
news:
    - date: 5/22
      title: トムラヨウコ着付け教室の情報を更新しました。
      link: /event/tomurayoko.html
    - date: 5/21
      title: きものでお出かけを更新しました！
      link: /event/kimonodeodekake.html
    - date: 5/6
      title: 今月のおすすめ商品は雨ゴートです！
      link: /coordinate/index.html
    - date: 4/28
      title: 5月5日はお休みさせていただきます。
      link: http://blog.darumaya-gofuku.jp/2016/04/55.html
    - date: 4/1
      title: 附下、小紋、紬、ゆかた・夏物を更新しました！
      link: /coordinate/index.html
    - date: 2/22
      title: レンタルスペースの情報を掲載しました！
      link: /event/rentalspace.html
---
<section>
    <div class="row">
        <div class="col-sm-4">
            <h4>よくある質問</h4>
            <div class="list-group">
                {% for item in page.questions %}
                <a href="{{ item.link }}" class="list-group-item">{{ item.title }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <h4>更新情報</h4>
            <div class="list-group">
                {% for item in page.news %}
                <a href="{{ item.link }}" class="list-group-item">
                    <span class="badge">{{ item.date }}</span>
                    {{ item.title }}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <h4>ブログ「だるまや6代目奮闘記」</h4>
            <div id="blogFeed" class="list-group">
            </div>
            <script>
                function blogFeed(json) {
                    for (var i in json.feed.entry) {
                        var entryItem = json.feed.entry[i];
                        var title = entryItem.title.$t;
                        var dateString = entryItem.published.$t.replace(/^\d{4}\-(\d{2})\-(\d{2}).*$/, '$1/$2');
                        for (var j in entryItem.link) {
                            var linkItem = entryItem.link[j];
                            if (linkItem.rel === 'alternate' && linkItem.type === 'text/html') {
                                var url = linkItem.href;
                            }
                        }
                        var $date = $('<span>')
                                .addClass('badge')
                                .text(dateString);
                        var $a = $('<a>')
                                .addClass('list-group-item')
                                .attr('href', url)
                                .text(title)
                                .prepend($date)
                                .appendTo('#blogFeed');
                    }
                }
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.defer = 'defer';
                    js.async = 'async';
                    js.src = "//blog.darumaya-gofuku.jp/feeds/posts/summary?alt=json-in-script&callback=blogFeed&max-results=5";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'getBlogFeed'));
            </script>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-sm-7">
            <div class="thumbnail">
                <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="//www.youtube.com/embed/LvcJZtYIbec?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>
                <div class="caption">
                    <h3>だるまやの洗い張り</h3>
                    <p>伸子張りと天然布のりで仕上げる昔ながらの洗い張り。仕上がりが断然違います！<br>
                        しみ抜きや染め替えなど、その他のお手入れも職人が一枚一枚手作業で行っています。</p>
                    <p class="text-right"><a href="/maintenance/" class="btn btn-aqua">きもののお手入れをもっと見る</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="thumbnail">
                <a href="/event/" class="img-link same-as-youtube"><img class="img-sm" data-src="/images/t/top-kanshasai-DSC05278-{width}{pixel_ratio}.JPG" data-alt="催事のご案内"></a>
                <div class="caption">
                    <h3>催事のご案内</h3>
                    <p>次回の催事は7月のお客様感謝祭の予定です。<br>
                    </p>
                    <p class="text-right"><a href="/event/" class="btn btn-aqua">催事のご案内をもっと見る</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="thumbnail">
                <a href="/revival/" class="img-link"><img class="img-sm" data-src="/images/t/top-somenaoshi-P1050759-P1060581-{width}{pixel_ratio}.jpg" data-alt="きものの再生事例"></a>
                <div class="caption">
                    <h3>きものの再生事例
                        <small>~無地のきものを染め替える~</small></h3>
                    <p>派手になってしまった無地のきものを、今のお客様にぴったりの色に染め替えます。他にもたくさんのきものの再生事例を紹介しています。</p>
                    <p class="text-right"><a href="/revival/" class="btn btn-aqua">きものの再生事例をもっと見る</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="thumbnail">
                <a href="/coordinate/" class="img-link"><img class="img-sm" data-src="/images/t/top-osusume-201605-DSC01115-{width}{pixel_ratio}.jpg" data-alt="今月のおすすめ商品"></a>
                <div class="caption">
                    <h3>今月のおすすめ商品</h3>
                    <p>今月のおすすめ商品は、雨ゴートです！！<br>大島や明石ちぢみで誂えるお洒落な雨ゴートを紹介します。</p>
                    <p class="text-right"><a href="/coordinate/" class="btn btn-aqua">着こなしのご提案をもっと見る</a></p>
                </div>
            </div>
        </div>
    </div>
</section>