---
title: Event[TBD]
description: お客様感謝祭や展示会のご案内です[TBD]
main_visual: '/images/d/dummy-jumbotron-{width}{pixel_ratio}.png'
layout: category-index
category: 'Event[TBD]'
country: us
---
<section>
<h2>ニュースレターお送りしています[TBD]</h2>
<p>催事のご案内をポストカードやメルマガでご案内しています。<br>
    どしどしご要望ください！[TBD]</p>
</section>

<section>
    <h2>ポストカード[TBD]</h2>
    <p>感謝祭や展示会など、だるまやの催事の際にポストカードをお送りしています。[TBD]</p>
    <img class="img-sm" data-width="720" data-src="/images/n/newsletter-postcard-DSC05270-{width}{pixel_ratio}.JPG" data-alt="ポストカード" data-class="img-responsive img-rounded"><br>
    <p>以下のフォームにお名前、内容枠にお客様のご住所とポストカード希望の旨を記入して送信してください。<br>
        なお、メールアドレスもご記入いただくと、メールマガジンも併せて登録いたします。<br>
        ポストカードは店内でもお渡しできますので、遠慮無くお声がけくださいませ。[TBD]</p>
    {% include form-postcard.html action="催事のご案内" %}
</section>
<section>
    <h2>メールマガジン[TBD]</h2>
    <p>毎月初め頃に、その月のトピックス、おすすめ商品、Q&Aなどをお送りしています。[TBD]<br>
        <a href = "http://us7.campaign-archive1.com/?u=1eaeb7238811aa37c02cbd99c&id=79c1796949&e=[UNIQID]" target = "_blank">サンプルはこちら[TBD]</a></p>
    <ol>
        <li>登録するメールアドレスで、mm@darumaya-gofuku.jpからのメールを受け取れるよう設定してください。[TBD]</li>
        <li>以下の「だるまや京染本店メルマガ」フォームに登録したいメールアドレスと氏名を入力し、ご希望のフォーマットを選択して、「登録」ボタンを押してください。[TBD]</li>
        <li>ご入力いただいたメールアドレスにメールが届きます。[TBD]</li>
        <li>メール本文内の、（HTMLの場合）「このメルマガに登録する」ボタンをクリックするか、（テキストの場合）本文内のリンクをクリックしてください。[TBD]</li>
    </ol>
    {% include form-mailchimp.html %}
</section>
<section>
    <h2>Facebookページ[TBD]</h2>
    <p>「いいね！」をクリックしてください。[TBD]</p>
    <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2F%25E3%2581%25A0%25E3%2582%258B%25E3%2581%25BE%25E3%2582%2584%25E4%25BA%25AC%25E6%259F%2593%25E6%259C%25AC%25E5%25BA%2597%2F359733750720382&amp;width=400&amp;height=395&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=true" style="border: none; height: 395px; overflow: hidden; width: 400px;"></iframe>
</section>

<section>
    <h2>Instagram[TBD]</h2>
    <p>@darumayagofuku ぜひフォローしてください。[TBD]<br>
        <a href = "https://instagram.com/darumayagofuku/" target = "_blank">https://instagram.com/darumayagofuku/</a>
    </p>
    <a href = "https://instagram.com/darumayagofuku/" target = "_blank">
        <img class="img-sm" data-width="720" data-src="/images/n/newsletter-instagram-{width}{pixel_ratio}.jpg" data-alt="Instagram" data-class="img-responsive img-rounded"><br>
    </a>
</section>

<section>
    <h2>Twitter[TBD]</h2>
    <p>@darumayagofuku ぜひフォローしてください。[TBD]<br>
        <a href = "https://twitter.com/darumayagofuku" target = "_blank">https://twitter.com/darumayagofuku</a>
    </p>
</section>
