---
title: お客様感謝祭
description: きもののお手入れを特別価格でご提供
main_visual: '/images/k/kanshasai-jumbotron-DSC05278-{width}{pixel_ratio}.jpg'
thumbnail: '/images/k/kanshasai-DSC05278-100-2x.jpg'
snipet_1st: お客様感謝祭の
snipet_2nd: ご案内
layout: category-article
category: '催事のご案内'
order: 10
---
<section>
    <h2>お客様感謝祭とは</h2>
    <p>だるまやではお客様のご愛顧に感謝して、年に数回お客様感謝祭を催しております。<br>
        感謝祭の期間中は、きもののお手入れを割引料金にて承っております。<br>
        遠方にお住まいの方でもご郵送でご依頼いただけます。<br>
        また、お買い得商品を多数取り揃えております。</p>
</section>
<section>
    <h2>お客様感謝祭の期間</h2>
    <p>次回の感謝祭は7月の予定です。<br>
        </p>
</section>
<section>
    <section>
        <h2>感謝祭割引料金</h2>
        <p>きものによって仕事内容が異なる場合があるため、料金はあくまで目安とお考えください。<br>
           郵送によるご依頼の場合、送料・支払い手数料はお客様負担となりますので、あらかじめご了承ください。<br>
        </p>
    </section>
    <section>
        <h2>初めてのお客様特典</h2>
        <p>だるまやを初めてご利用いただくお客様は、感謝祭期間にかかわらず感謝祭割引料金にてお請けいたします。<br>
            もちろん、郵送によるご依頼でもOKです。<br>
            ご不明な点は遠慮なくお問い合わせください！<br>
        </p>
    </section>
    <section>
        <h2>洗い張り</h2>
        <p>解き、端縫い代を含んだ料金です。裏地（胴裏、八掛、羽裏など）の洗い張り代も含みます。</p>
        <p>特選とは本場大島や本結城など、手間物とは弱生地や色のにじみそうな生地です。</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>きものの種類</th>
                <th>通常料金(目安)</th>
                <th>感謝祭料金(目安)</th>
            </tr>
            </thead>

            <tbody>

            {% for item in site.data.price-lists.["洗い張り"] %}
            <tr>
                <td>{{ item.kimono }}</td>
                <td>{{ item.regular_price }}</td>
                <td>{{ item.sale_price }}</td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
        <h2>洗い張りから仕立て</h2>
        <p>解き、端縫い、洗い張り代を含んだ料金です。</p>
        <p>長襦袢の料金には半衿、居敷当て代が含まれています。</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>きものの種類</th>
                <th>通常料金(目安)</th>
                <th>感謝祭料金(目安)</th>
            </tr>
            </thead>

            <tbody>

            {% for item in site.data.price-lists.["洗い張りから仕立て"] %}
            <tr>
                <td>{{ item.kimono }}</td>
                <td>{{ item.regular_price }}</td>
                <td>{{ item.sale_price }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        <h2>丸洗いとしみ抜き</h2>
        <p>丸洗いをして、共衿、袖口、裾など通常着て汚れる場所をしみ抜きした場合の料金です。</p>
        <p>汚れの範囲や落ちにくさによって変わりますので、あくまで目安とお考えください。</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>きものの種類</th>
                <th>通常料金(目安)</th>
                <th>感謝祭料金(目安)</th>
            </tr>
            </thead>

            <tbody>

            {% for item in site.data.price-lists.["丸洗いとしみ抜き"] %}
            <tr>
                <td>{{ item.kimono }}</td>
                <td>{{ item.regular_price }}</td>
                <td>{{ item.sale_price }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        <h2>染め</h2>
        <p>反物の状態のきものを無地に染める料金です。</p>
        <p>無地のきものの染め直し、柄を活かして染め直しは「きものの再生事例」をご覧ください。</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>きものの種類</th>
                <th>通常料金(目安)</th>
                <th>感謝祭料金(目安)</th>
            </tr>
            </thead>

            <tbody>

            {% for item in site.data.price-lists.["染め"] %}
            <tr>
                <td>{{ item.kimono }}</td>
                <td>{{ item.regular_price }}</td>
                <td>{{ item.sale_price }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        <h2>紋入れ</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>きものの種類</th>
                <th>通常料金(目安)</th>
                <th>感謝祭料金(目安)</th>
            </tr>
            </thead>

            <tbody>

            {% for item in site.data.price-lists.["紋入れ"] %}
            <tr>
                <td>{{ item.kimono }}</td>
                <td>{{ item.regular_price }}</td>
                <td>{{ item.sale_price }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        <h2>湯のし</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>きものの種類</th>
                <th>通常料金(目安)</th>
                <th>感謝祭料金(目安)</th>
            </tr>
            </thead>

            <tbody>

            {% for item in site.data.price-lists.["湯のし"] %}
            <tr>
                <td>{{ item.kimono }}</td>
                <td>{{ item.regular_price }}</td>
                <td>{{ item.sale_price }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        <h2>本湯通し</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>きものの種類</th>
                <th>通常料金(目安)</th>
                <th>感謝祭料金(目安)</th>
            </tr>
            </thead>

            <tbody>

            {% for item in site.data.price-lists.["本湯通し"] %}
            <tr>
                <td>{{ item.kimono }}</td>
                <td>{{ item.regular_price }}</td>
                <td>{{ item.sale_price }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </section>
    <section>
        <h2>郵送の際の支払い方法</h2>
        <h3>銀行口座</h3>
        <p>三井住友銀行</p>
        <p>平塚支店(565)</p>
        <p>普通　3360141</p>
        <p>ヤギノブ</p>
        <br>
        <p>ゆうちょ銀行（ネット振込）</p>
        <p>ゼロニハチ支店(028)</p>
        <p>普通　2581242</p>
        <p>ヤギノブ</p>
        <br>
        <p>ゆうちょ銀行（銀行での手続き）</p>
        <p>記号：10290</p>
        <p>普通　25812421</p>
        <p>ヤギノブ</p>
        <br>
        <h3>代引手数料</h3>
        <p>10,000円未満・・・324円</p>
        <p>10,000円以上30,000円未満・・・432円</p>
        <p>30,000円以上100,000円未満・・・648円</p>
        <p>100,000円以上300,000円未満・・・1080円</p>
        <br>
        <h3>送料・箱代</h3>
        <p>枚数によりますが、1000円〜2000円</p>
    </section>
</section>
