<section class="container">
    <h2>関連のあるページ</h2>
    <div class="row">
        {% for item in page.related %}
        <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="{{ item.link }}" class="thumbnail banner-related">
                <img class="img-xs" data-src="{{ item.image }}" data-alt="{{ item.title }}">
                <div class="caption">
                    <h4>{{ item.title }}</h4>
                    <p>{{ item.description }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>