<ul class="nav navbar-nav navbar-right">
    <div class="btn-group">
        <button type="button" class="btn btn-noren dropdown-toggle" data-toggle="dropdown">
            日本語 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-noren" role="menu">
            <li class="disabled"><a href="#">日本語 ✔</a></li>
            <li><a href="/us{{ page.url }}">English</a></li>
            <li><a href="/ch{{ page.url }}">簡体字</a></li>
            <li><a href="/tw{{ page.url }}">繁體字</a></li>
        </ul>
    </div>
</ul>
