<form action="https://docs.google.com/forms/d/1z3sSG7Lm9G0krEx8a6_H4kM982DZhoEpGzLVXfUdWeE/formResponse" method="post" data-category="お客様の声" data-action="お客様の声">
    <div class="row form-group">
        <label for="entry_1149987365" class="col-sm-4 col-md-3 control-label">名前（ペンネーム可）</label>
        <div class="col-sm-8 col-md-7 col-lg-6">
            <input type="text" class="form-control" name="entry.1149987365" id="entry_1149987365" placeholder="例：八木賢一（だるまや6代目）">
        </div>
    </div>
    <div class="row form-group">
        <label class="col-sm-4 col-md-3 control-label">年代・性別</label>
        <div class="col-sm-8 col-md-9">
            <div class="radio">
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_1" value="20代女性">
                    20代女性
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_2" value="30代女性">
                    30代女性
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_3" value="40代女性">
                    40代女性
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_4" value="50代女性">
                    50代女性
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_5" value="60代女性">
                    60代女性
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_6" value="70代女性">
                    70代女性
                </label>
            </div>
            <div class="radio">
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_7" value="20代男性">
                    20代男性
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_8" value="30代男性">
                    30代男性
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_9" value="40代男性">
                    40代男性
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_10" value="50代男性">
                    50代男性
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_11" value="60代男性">
                    60代男性
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_12" value="70代男性">
                    70代男性
                </label>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <label for="entry_1715910836" class="col-sm-4 col-md-3 control-label">住んでいる地域</label>
        <div class="col-sm-8 col-md-7 col-lg-6">
            <input type="text" class="form-control" name="entry.1715910836" id="entry_1715910836" placeholder="例：神奈川県平塚市">
        </div>
    </div>
    <div class="row form-group">
        <label for="entry_1192147376" class="col-sm-4 col-md-3 control-label">だるまやのエピソード</label>
        <div class="col-sm-8 col-md-9">
            <textarea class="form-control" name="entry.1192147376" id="entry_1192147376" rows="5" placeholder="だるまやを知ったきっかけ、印象など"></textarea>
        </div>
    </div>
    <div class="row form-group">
        <label for="entry_2102270235" class="col-sm-4 col-md-3 ontrol-label">改善してほしいところ</label>
        <div class="col-sm-8 col-md-9">
            <textarea class="form-control" name="entry.2102270235" id="entry_2102270235" rows="5" placeholder="ここを直してくれたらもっと良くなるのに！ってところ"></textarea>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-sm-4 col-md-3 control-label">ホームページ等での掲載可否</label>
        <div class="col-sm-8 col-md-9">
            <span id="helpBlock" class="help-block" style="margin-top: 0;">ご記入いただいた「お客様の声」をホームページなどに掲載して良いでしょうか？</span>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.633279669" id="group_633279669_1" value="別に載せてもOK">
                    別に載せてもOK
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.633279669" id="group_633279669_2" value="ペンネームならいいけど">
                    ペンネームならいいけど
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.633279669" id="group_633279669_3" value="絶対イヤだーー">
                    絶対イヤだーー
                </label>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9">
            <input type="hidden" name="draftResponse" value="[,,&quot;-4580495146383077577&quot;] ">
            <input type="hidden" name="pageHistory" value="0">
            <input type="hidden" name="fbzx" value="-4580495146383077577">
            <button type="submit" class="btn btn-aqua" id="ss-submit" style="padding-left: 32px; letter-spacing: 20px;">送信</button>
        </div>
    </div>
</form>
