//
// main
//

section {
    h2 {
        font-family: @font-family-serif;
        padding-bottom: ((@line-height-computed / 2) - 1);
        margin: (@line-height-computed * 3) 0 @line-height-computed;
        border-bottom: 1px solid @page-header-border-color;
    }
}

//
// 関連ページ
//

a.thumbnail {
    transition: border-color .2s ease-in-out;

    .caption {
        transition: color .2s ease-in-out;
        p {
            font-size: @font-size-base;
        }
    }

    &:hover,
    &:active {
        text-decoration: none;
        border-color: @link-color;

        .caption {
            color: @link-color ;
        }
    }
}