//
// main
//

section {
    h2 {
        font-family: @font-family-serif;
        padding-bottom: ((@line-height-computed / 2) - 1);
        margin: (@line-height-computed * 3) 0 @line-height-computed;
        border-bottom: 1px solid @page-header-border-color;
    }
}

//
// 同一カテゴリーのページ
//

.nav-card {
    margin-bottom: 15px;
    padding-left: 0; // Override default ul/ol
    list-style: none;
    &:extend(.clearfix all);
    position: relative;
    left: 50%;
    float: left;

    > li {
        position: relative;
        left: -50%;
        display: block;
        float: left;
        line-height: 1;

        // Links rendered as pills
        > a {

            &:hover,
            &:focus {
                text-decoration: none;
                background-color: transparent;
            }

            > img {
                width: 40px;
                height: 40px;
            }
            
            > .nav-card-label {
                font-size: @font-size-base;
                position: relative;
                display: block;
                padding: 5px 10px 5px 10px;
                width: (40px + 10px * 2);
                height: (80px + 5px * 2);
                text-align: center;

                -webkit-writing-mode: vertical-rl;
                writing-mode: vertical-rl;
                background-color: @nav-link-hover-bg;
            }
        }

        + li {
            margin-left: (((@font-size-base + 10px) / 2) + 5px);
        }

        // Active state
        &.active > a {
            &,
            &:hover,
            &:focus {
                color: @nav-pills-active-link-hover-color;
                background-color: @nav-pills-active-link-hover-bg;
            }
        }
    }
}

//
// 関連ページ
//

a.thumbnail {
    .caption {
        .transition(all .2s ease-in-out);
    }

    &:hover,
    &:active {
        text-decoration: none;

        .caption {
            color: @link-color ;
        }
    }
}