//
// 同一カテゴリーのページ
//

// ---------------------------------
// --------+ <.banner-vertical-i18n>
//         |            ^
//         |            16
//         |            v
//         |        +---------------
//         |        |   ^
//         | <-10-> |   18  <h4>
//         |        |   v
//         |        +---------------
//         |            ^
// <-100-> |            13
//  <img>  |            v
//         |        +---------------
//    ^    |        |   ^
//   100   |        | 14/20
//    v    |        |   v   <p>
//         | <-10-> |   ^
//         |        | 14/20
//         |        |   v
//         |        +---------------
//         |            ^
//         |            13
//         |            v
// --------+
// -----------------------------

// ---------------------------------
// --------+ <.banner-vertical-i18n>
//         |            ^
//         |            16
//         |            v
//         |        +---------------
//         |        |   ^
//         | <-10-> |   18  <h4>
//         |        |   v
//         |        +---------------
//         |            ^
// <-80->  |            13
//  <img>  |            v
//         |        +---------------
//    ^    |        |   ^
//    80   | <-10-> | 14/20 <p>
//    v    |        |   v
//         |        +---------------
//         |            ^
//         |            13
//         |            v
// --------+
// -----------------------------

.banner-vertical {

    a.banner-vertical-label-i18n {
      transition: border-color .2s ease-in-out;

      .caption {
        transition: color .2s ease-in-out;
      }

      &:hover,
      &:active {
        text-decoration: none;
        border-color: @link-color;

        .caption {
          color: @link-color;
        }
      }
    }

    .banner-vertical-label-i18n {
      overflow: hidden;
      padding: 0;
      height: 82px;

      @media (min-width: @screen-sm-min) {
        height: 102px;
      }

      > .banner-vertical-img {
      width: 80px !important;
      height: 80px;
      float: left;
      margin-right: 10px;

      @media (min-width: @screen-sm-min) {
        width: 100px !important;
        height: 100px;
      }
    }

    > .caption {
      padding: 0;

      > h4 {
        margin: 16px 10px 13px;
        font-size: 18px;
        lign-height: 1 !important;
      }

      > p {
        margin: 13px 10px;
        lign-height: 20px;
      }
    }
  }
}