//
// 同一カテゴリーのページ
//
// LG
// ---------------------------------
// --------+ <.banner-vertical-i18n>
//         |            ^
//         |            16
//         |            v
//         |        +---------------
//         |        |   ^
//         | <-10-> |   18  <h4>
//         |        |   v
//         |        +---------------
//         |            ^
// <-100-> |            13
//  <img>  |            v
//         |        +---------------
//    ^    |        |   ^
//   100   |        | 14/20
//    v    |        |   v   <p>
//         | <-10-> |   ^
//         |        | 14/20
//         |        |   v
//         |        +---------------
//         |            ^
//         |            13
//         |            v
// --------+
// ---------------------------------
//
// XS
// ---------------------------------
// --------+ <.banner-vertical-i18n>
//         |            ^
//         |            16
//         |            v
//         |        +---------------
//         |        |   ^
//         | <-10-> |   18  <h4>
//         |        |   v
//         |        +---------------
//         |            ^
// <-80->  |            13
//  <img>  |            v
//         |        +---------------
//    ^    |        |   ^
//    80   | <-10-> | 14/20 <p>
//    v    |        |   v
//         |        +---------------
//         |            ^
//         |            13
//         |            v
// --------+
// ---------------------------------
//
// XS          ^
//             10
//             v
// ---------------------------------
// --------+ <.banner-vertical-i18n>
//         |           ^
//         |           5
//         |           v
//         |       +---------------
//         |       |   ^
//         | <-5-> |   18  <h4>
//         |       |   v
//         |       +---------------
//         |           ^
// <-60->  |           5
//  <img>  |           v
//         |       +---------------
//    ^    |       |   ^
//    60   |       | 14/14 <p>
//    v    |       |   v
//    ^    | <-5-> |   ^
//    60   |       |(14/14)<p>
//    v    |       |   v
//         |       +---------------
//         |           ^
//         |          4~18
//         |           v
// --------+
// ---------------------------------

.banner-vertical {

    a.banner-vertical-label-i18n {
      transition: border-color .2s ease-in-out;

      .caption {
        transition: color .2s ease-in-out;
      }

      &:hover,
      &:active {
        text-decoration: none;
        border-color: @link-color;

        .caption {
          color: @link-color;
        }
      }
    }

    .banner-vertical-label-i18n {
      overflow: hidden;
      padding: 0;
      height: 62px;
      margin-bottom: 10px;

      @media (min-width: @screen-sm-min) {
        height: 102px;
        margin-bottom: 20px;
      }

      > .banner-vertical-img {
      width: 60px !important;
      height: 60px;
      float: left;
      margin-right: 5px;

      @media (min-width: @screen-sm-min) {
        width: 100px !important;
        height: 100px;
        margin-right: 10px;
      }
    }

    > .caption {
      padding: 0;

      > h4 {
        margin: 5px;
        font-size: 18px;
        lign-height: 1 !important;

        @media (min-width: @screen-sm-min) {
          margin: 16px 10px 13px;
        }
      }

      > p {
        margin: 5px;
        lign-height: 14px;

        @media (min-width: @screen-sm-min) {
          margin: 13px 10px;
          lign-height: 20px;
        }
      }
    }
  }
}