//
// fonts
//

body {
    font-family: @font-family-sans-serif;
    color: @text-color;
    background-color: @body-bg;
}

main {
    font-size: @font-size-less-large;
}

a {
    color: @link-color;

    &:hover,
    &:focus {
        color: @link-hover-color;
    }
}
