//
// fonts
//

body {
    font-family: @font-family-sans-serif;
    color: @text-color;
    background-color: @bg-color;
}

main {
    font-size: @font-size-less-large;
}

a {
    color: @link-color;

    &:hover,
    &:focus {
        color: @link-hover-color;
    }
}

h4, h5, h6,
.h4, .h5, .h6 {
    font-weight: 700;
}

//
// button
//

.btn-aqua {
    .button-variant(@bg-color; @link-color; darken(@link-color, 5%));
}
