---
title: 紋入れ
description: 何かと分かりにくい「紋」について解説します
main_visual: '/images/mon-jumbotron-DSC05255.jpg'
layout: 1st-2nd
category: 'きもののお手入れ'
order: 50
---
<section>
    <h2>紋入れとは</h2>
    <ul>
        <p>きものに紋を入れることを紋入れといいます。</p>
        <p>反物の状態でも、仕立て上がっている状態でも紋を入れることができます。</p>
        <p>きものは、紋を入れることによって格が上がります。</p>
        <p>一般的に、振袖、留袖、喪服、訪問着、附下、無地のきものには紋を入れることをお勧めしています。<br>
            こういったきものは結婚式など正式な場所に着ていくことが多いためです。</p>
        <p>また、江戸小紋は他の小紋に比べて格が高いため、紋を入れることで礼服としてお召しになれます。<br>
            江戸小紋を普段着として着たい場合は紋を入れず、礼服として着たい場合は紋を入れることをお勧めします。</p>
    </ul>
</section>
<section>
    <h2>紋の種類</h2>
    <p>紋には様々な種類があります。</p>
    
</section>
<section>
    <h2>紋入れに関するよくある質問</h2>
    <p>紋については、土地柄、家柄によって考え方が異なります。<br>
        あくまで、だるまやとしての考え方を記載しますので、参考程度とお考えください。</p>
    <ul>
        <li>結婚するときに紋を変えるのか？</li>
        <p>変える必要はありません。 例えば結婚前にきものを誂えたときには、実家の紋を入れます。<br>
            結婚後、そのきものを嫁ぎ先にお持ちになる際に、紋を変える必要はありません。<br>
            実家の紋が入っていれば、実家から持ってきたということになります。<br>
            紋は簡単に言うと、お金の出所なのです。<br>
            ただ、そのきものを染め直したり、仕立て直したりする場合には、嫁ぎ先の紋に変えるのが一般的です。</p>
        <li>紋付のきもので紋を変えることはできるのか？</li>
        <p>できます。<br>
            きものの種類によって方法がいくつかありますが、どんなおきものでも紋を変えることはできます。</p>
        <li>洗い張りをするときに紋から色が出る、紋が泣くとは何か？</li>
        <p>留袖や喪服は、お誂え前は紋を入れるところが白く丸く抜いてあります。<br>
            この中に紋を入れるのですが、染めるわけではなく、黒い染料で描くだけなので、洗うと染料がにじんできてしまうのです。<br>
            このことを紋から色が出るとか、紋が泣く、と言います。<br>
            紋から色が出てしまった場合には、元の紋の上から紋を切り付けるという方法を用います。</p>
        <div class="img-xs" data-width="360" data-src="/images/mon-monganaku-DSC05149-{width}{pixel_ratio}.JPG" data-alt="事前確認" data-class="img-responsive img-rounded"></div>
    </ul>
</section>
<section>
    <h2>紋入れにかかる期間</h2>
    <ul>
        <p>紋入れには通常10日から2週間ほどいただいています。</p>
        <p>色指定の場合はさらにお時間かかりますのでご了承ください。</p>
    </ul>
</section>

<section>
    <h2>紋入れの料金</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>きものの種類</th>
            <th>通常料金(目安)</th>
            <th>感謝祭料金(目安)</th>
        </tr>
        </thead>

        <tbody>

        {% for item in site.data.price-lists.["紋入れ"] %}
        <tr>
            <td>{{ item.kimono }}</td>
            <td>
                {% assign number = item.regular_price %}
                &yen;{% include format-number.html %}
            </td>
            <td>
                {% assign number = item.sale_price %}
                &yen;{% include format-number.html %}
            </td>
        </tr>
        {% endfor %}
        <tr><td>仕立て上がり品</td><td>&yen;6,000増し</td><td>&yen;3,000増し</td></tr>
        <tr><td>色指定</td><td>&yen;6,000増し</td><td>&yen;3,000増し</td></tr>
        </tbody>
    </table></section>
