---
title: 仕立て
description: 日本の和裁士による手縫いの仕立て
main_visual: '/images/s/shitate-jumbotron-DSC05865-{width}{pixel_ratio}.jpg'
snipet_1st: 反物をきものに
snipet_2nd: 仕立てます
layout: category-article
category: 'きもののお手入れ'
order: 30
carousel:
    - title: 事前確認
      description: 仕立てを行う反物について、不足が無いか、しみや織りムラが無いかなどを確認します。<br xmlns="http://www.w3.org/1999/html">また、お客様の希望寸法も確認しておきます。
      image: /images/s/shitate-jizenkakunin-DSC05790-{width}{pixel_ratio}.JPG
    - title: 柄合わせ
      description: 柄の配置やしみをどこに持っていくかなどを、裁つ前に確認します。<br>きものの仕上がりを決める非常に重要な工程で、長い時は数日かける場合もあります。
      image: /images/s/shitate-garaawase-DSC05811-{width}{pixel_ratio}.JPG
    - title: 裁ち
      description: 新しい反物の場合は、柄合わせを終えた反物を裁ちます。<br>粗裁ち後、横糸に沿って裁ち目を揃えます。
      image: /images/s/shitate-tachi-DSC05841-{width}{pixel_ratio}.JPG
    - title: 地のし
      image: /images/s/shitate-jinoshi-DSC05829-{width}{pixel_ratio}.JPG
      description: 裁った反物に蒸気を当てながら地の目を揃えます。
    - title: 柄の確認
      description: お客様の寸法を確認し、柄が合うか、合わない場合どの程度かを確認します。<br>絵羽の場合、ここで背縫いをし、そこから後巾前巾を出して柄が合うか確認します。
      image: /images/s/shitate-garanokakunin-DSC05865-{width}{pixel_ratio}.JPG
    - title: 引き合い
      description: お客様の希望寸法と実際に仕上がる寸法に違いがある場合や、しみのやりくりなどを相談します。<br>必要に応じて、お客様と相談して方針を決め、次の工程に進みます。
      image: /images/s/shitate-hikiai-DSC05780-{width}{pixel_ratio}.JPG
    - title: ヘラ
      description: 仕立てる前にお客様の寸法に合わせてヘラで目印を付けていきます。<br>チャコは消えなくなる場合があるので、石鹸や洗い張りで落ちるチャコを使います
      image: /images/s/shitate-hera-DSC05890-{width}{pixel_ratio}.JPG
    - title: 縫う
      description: お客様の寸法に合わせて縫っていきます。<br>だるまやのきものの仕立てはすべて国内の職人が手縫いで仕立てています。
      image: /images/s/shitate-nuu-DSC05920-{width}{pixel_ratio}.JPG
    - title: 押し
      description: 仕立て上がったきものを、綺麗に畳み、重しをかけて押します。<br>仕上がりを決める大事な工程です。
      image: /images/s/shitate-oshi-DSC06238-{width}{pixel_ratio}.JPG
    - title: 検品
      description: 押しが終わり、寸法が合っているか、しわがないかなどを確認します。
      image: /images/s/shitate-kenpin-DSC06234-{width}{pixel_ratio}.JPG
    - title: 納品
      description: 畳紙に入れ、お客様に納めます。
      image: /images/s/shitate-nouhin-DSC06247-{width}{pixel_ratio}.JPG
related:
    - title: きものを仕立て直す！
      description: 仕立直しの際に寸法や裏地を替えることができます。<br>仕立直しの事例紹介はこちら。
      link: /revival/shitatenaoshi.html
      image: /images/s/shitatenaosu-related-P1070201-{width}{pixel_ratio}.jpg
    - title: きものを染め直してコートに仕立て！
      description: きものを染め直してコートに仕立て直した事例紹介です。
      link: /revival/tocoat.html
      image: /images/t/tocoat-related-P1070151-{width}{pixel_ratio}.jpg
    - title: 帯に仕立て直す！
      description: きものや羽織を帯に仕立て直す事例紹介です。
      link: /revival/toobi.html
      image: /images/t/toobi-related-P1080636-{width}{pixel_ratio}.JPG
---
<section>
    <h2>仕立てとは</h2>
        <p>反物の状態からきもの、長襦袢、羽織などに縫うことを仕立てと言います。<br>
            国内の職人が手縫いで一枚一枚仕立てます。<br>
            仕立て直しの事例はこちらの仕立直しページをご覧ください。</p>
</section>

<section>
    <h2>仕立ての手順</h2>
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-9 col-lg-offset-2 col-lg-7">
            {% include carousel.html %}
        </div>
    </div>
</section>

<section>
    <h2>仕立てにかかる期間</h2>
    <p>仕立てには通常1ヶ月半から２ヶ月半ほどいただいています。<br>
        着る予定が決まっている場合は、急ぎで仕立てることもできますので、遠慮無くご相談ください。</p>
</section>

<section>
    <h2>洗い張りから仕立ての料金</h2>
    <p>解き、端縫い、洗い張り代を含んだ料金です。<br>
        長襦袢の料金には半衿、居敷当て代が含まれています。</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>きものの種類</th>
            <th>通常料金(目安)</th>
            <th>感謝祭料金(目安)</th>
        </tr>
        </thead>

        <tbody>

        {% for item in site.data.price-lists.["洗い張りから仕立て"] %}
        <tr>
            <td>{{ item.kimono }}</td>
            <td>{{ item.regular_price }}</td>
            <td>{{ item.sale_price }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</section>

<section>
    <h2>仕立て屋さん募集！</h2>
    <p>だるまやではきものの仕立て屋さんを募集しています。</p>
    <p>仕立ての仕事を探している方、もしくはそういった方をご存知の方は、お電話か問い合わせフォームからご連絡ください。</p>
</section>
