---
title: ニュースレター
description: だるまやから発信している情報一覧。ぜひご登録を！
main_visual: '/images/n/newsletter-jumbotron-DSC06149-{width}{pixel_ratio}.jpg'
snipet_1st: だるまやから発信している
snipet_2nd: 情報一覧です
layout: category-article
category: 'だるまやのご紹介'
order: 50
country: jp
---
<section>
    <p>だるまやでは、ポストカード、メールマガジン、Facebookページ、Instagram、Twitterでニュースレターをお送りしています。</p>
</section>
<section>
    <h2>ポストカード</h2>
    <p>感謝祭や展示会など、だるまやの催事の際にポストカードをお送りしています。</p>
    <img class="img-sm" data-width="720" data-src="/images/n/newsletter-postcard-DSC05270-{width}{pixel_ratio}.JPG" data-alt="ポストカード" data-class="img-responsive img-rounded"><br>
    <p>以下のフォームにお名前、内容枠にお客様のご住所とポストカード希望の旨を記入して送信してください。<br>
        なお、メールアドレスもご記入いただくと、メールマガジンも併せて登録いたします。<br>
        ポストカードは店内でもお渡しできますので、遠慮無くお声がけくださいませ。</p>
    {% include form-postcard.html action="ニュースレター" %}
</section>
<section>
<h2>メールマガジン</h2>
    <p>毎月初め頃に、その月のトピックス、おすすめ商品、Q&Aなどをお送りしています。<br>
        <a href = "http://us7.campaign-archive1.com/?u=1eaeb7238811aa37c02cbd99c&id=79c1796949&e=[UNIQID]" target = "_blank">サンプルはこちら</a></p>
    <ol>
        <li>登録するメールアドレスで、mm@darumaya-gofuku.jpからのメールを受け取れるよう設定してください。</li>
        <li>以下の「だるまや京染本店メルマガ」フォームに登録したいメールアドレスと氏名を入力し、ご希望のフォーマットを選択して、「登録」ボタンを押してください。</li>
        <li>ご入力いただいたメールアドレスにメールが届きます。</li>
        <li>メール本文内の、（HTMLの場合）「このメルマガに登録する」ボタンをクリックするか、（テキストの場合）本文内のリンクをクリックしてください。</li>
    </ol>
    {% include form-mailchimp.html %}
</section>

<section>
<h2>Facebookページ</h2>
<p>「いいね！」をクリックしてください。</p>
    <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2F%25E3%2581%25A0%25E3%2582%258B%25E3%2581%25BE%25E3%2582%2584%25E4%25BA%25AC%25E6%259F%2593%25E6%259C%25AC%25E5%25BA%2597%2F359733750720382&amp;width=400&amp;height=395&amp;colorscheme=light&amp;show_faces=false&amp;header=false&amp;stream=true&amp;show_border=true" style="border: none; height: 395px; overflow: hidden; width: 400px;"></iframe>
</section>

<section>
    <h2>Instagram</h2>
    <p>@darumayagofuku ぜひフォローしてください。<br>
        <a href = "https://instagram.com/darumayagofuku/" target = "_blank">https://instagram.com/darumayagofuku/</a>
    </p>
    <a href = "https://instagram.com/darumayagofuku/" target = "_blank">
        <img class="img-sm" data-width="720" data-src="/images/n/newsletter-instagram-{width}{pixel_ratio}.jpg" data-alt="Instagram" data-class="img-responsive img-rounded"><br>
    </a>
</section>

<section>
    <h2>Twitter</h2>
    <p>@darumayagofuku ぜひフォローしてください。<br>
        <a href = "https://twitter.com/darumayagofuku" target = "_blank">https://twitter.com/darumayagofuku</a>
    </p>
</section>
