---
title: Araihari[TBD]
description: the traditional art of washing kimono
main_visual: '/images/a/araihari-jumbotron-R1046195-{width}{pixel_ratio}.jpg'
thumbnail: '/images/a/araihari-R1046195-100-2x.jpg'
snipet_1st: きものを解いて[TBD]
snipet_2nd: 洗います[TBD]
layout: category-article
category: 'Maintenance[TBD]'
order: 10
carousel:
    - title: 事前確認[TBD]
      description: 洗い張りを行うきものについて、色が出ないか、生地が丈夫か、などを確認します。[TBD]
      image: /images/a/araihari-jizenkakunin-DSC05240-{width}{pixel_ratio}.JPG
    - title: 解く[TBD]
      description: きものの縫い目をすべて解きます。<br>縫い糸を残さず取らなければならず、時間のかかる作業です。[TBD]
      image: /images/a/araihari-toku-DSC05926-{width}{pixel_ratio}.JPG
    - title: 端縫い[TBD]
      description: 解いたきものを縫い合わせ、反物の状態に戻します。<br>当店では、専用のミシンを使って端縫いを行っています。[TBD]
      image: /images/a/araihari-hanui-R1047143_2-{width}{pixel_ratio}.jpg
    - title: 洗う[TBD]
      image: /images/a/araihari-arau-DSC04910-{width}{pixel_ratio}.JPG
      description: 端縫いをして反物に戻ったきものを専用の洗剤とたわしで洗います。<br>反物によってお湯の温度や力加減を調整しながら、汚れを落とします。[TBD]
    - title: 乾かす[TBD]
      description: 洗った反物を脱水し、外に干して乾かします。[TBD]
      image: /images/a/araihari-kawakasu1-DSC04987-{width}{pixel_ratio}.JPG
    - title: つなぎ直す[TBD]
      title_short: つなぎ直す[TBD]
      description: 洗った反物を仕事場の幅に合わせてつなぎ直します。<br>この時に、洗ってほつれた部分は端縫いをし直します。[TBD]
      image: /images/a/araihari-tsunaginaosu-DSC04992-{width}{pixel_ratio}.JPG
    - title: 伸子張り[TBD]
      title_short: 伸子張り[TBD]
      description: 紬系の反物は、竹の先に針の付いた伸子を反物に張り、しなりを利用してしわを伸ばします。<br>2cm間隔で張っていくため、反物1反でおよそ600本の伸子を張ります。[TBD]
      image: /images/a/araihari-shinshibari-DSC05082-{width}{pixel_ratio}.JPG
    - title: のり入れ[TBD]
      description: 伸子張りした反物に、刷毛で天然の布のりを引きます。<br>生地の質や季節によって布のりの濃さを調整するため、長年の経験が必要です。[TBD]
      image: /images/a/araihari-noriire-DSC04830-{width}{pixel_ratio}.JPG
    - title: 乾かす[TBD]
      description: 布のりを引いた反物を乾かします。<br>伸子を張った状態でゆっくり乾く過程で小じわが消えます。[TBD]
      image: /images/a/araihari-kawakasu2-DSC04107-{width}{pixel_ratio}.JPG
    - title: 湯のし[TBD]
      title_short: 湯のし[TBD]
      description: 縮緬系の反物は、テンタという機械で蒸気を当てながら生地の幅を整えます。[TBD]
      image: /images/a/araihari-yunoshi-DSC04153-{width}{pixel_ratio}.JPG
    - title: 仕上げ[TBD]
      description: 仕上がった反物を板で巻いて平だたみにし、糸で綴じて洗い張り終了です。[TBD]
      image: /images/a/araihari-shiage-DSC05025-{width}{pixel_ratio}.JPG
related:
    - title: 洗い張り体験できます！[TBD]
      description: 仕事場見学、洗い張り体験できます。[TBD]
      link: /us/event/araiharitaiken.html
      image: /images/a/araiharitaiken-P1110231-related-{width}{pixel_ratio}.jpg
    - title: 洗い張りの仕事風景[TBD]
      description: ブログ、Facebookページにて洗い張りの仕事風景を更新しています。[TBD]
      link: http://blog.darumaya-gofuku.jp/search/label/%E6%B4%97%E3%81%84%E5%BC%B5%E3%82%8A
      image: /images/a/araihari-relatedblog-DSC04909-{width}{pixel_ratio}.JPG
country: us
---
<section>
    <h2>About Araihari</h2>
    <p>Araihari is the technique of washing kimono into a roll of cloth, washing, starching, and then straighten it, through a traditional art such as Yunoshi or Shinshibari.<br>
        By washing off the old starch and any stains, ??? ??? starching the cloth again, we can bring back its original texture and make it come back to life.<br>
        wrinktes??? in the cloth disappear?? and we can make it into kimono once again.<br>
        In the process of stretching??? kimono, we can also adjust the size, replace the old lining, and then change the color of the Hakkake to give the original kimono a new look.<br>
</section>

<section>
    <h2>Method</h2>
    <div class="row">
        {% include carousel.html %}
        <div class="col-xs-12 col-md-offset-1 col-md-9 col-lg-offset-2 col-lg-7">
            <p class="text-center"><a href="http://youtu.be/LvcJZtYIbec" class="btn btn-aqua" data-toggle="lightbox" data-title="洗い張り">動画で見る[TBD]</a></p>
        </div>
    </div>
</section>

<section>
    <h2>Time</h2>
    <p>Normally it takes about four to six weeks.(Depending on the season)<br>
        If you are in a hurry like you'd like us to get it done by the particular date, we may be able to accommodate rush orders, so feel free to consult with us.</p>
</section>

<section>
    <h2>洗い張りに関するよくある質問[TBD]</h2>
    <ul>
        <li>縮んでしまった生地は洗い張りで元に戻りますか？[TBD]</li>
        <p>ほとんど元に戻りますが、大巾に縮む反物（昔の御召など）は若干巾が狭く仕上がる場合があります。[TBD]<br>
        </p>

        <li>自分で解いた反物の洗い張りは可能ですか？料金は変わりますか？[TBD]</li>
        <p>ご自分で解いた反物の洗い張りも可能です。<br>
            料金は1,000円安くなります。[TBD]<br>
        </p>

        <li>洗い張りをせずに胴裏だけ、八掛だけ変えることはできますか？[TBD]</li>
        <p>基本的には解いて洗い張りをして仕立て直す際に胴裏と八掛を交換することをおすすめします。<br>
            仕立て上がった状態で胴裏と八掛を変えるのはかなり手間のかかる作業なので、解いて洗い張りをした場合と金額的に大差ないですし、生地のためにも洗い張りをした方が良いです。[TBD]<br>
        </p>

        <li>絞りのきものの丸洗い、洗い張りはできますか？[TBD]</li>
        <p>できることはできるのですが、絞りが平らになってしまいます。<br>
            それでも良ければ可能です。[TBD]<br>
        </p>

        <li>帯の丸洗い、洗い張りはできますか？[TBD]</li>
        <p>塩瀬や博多など、一部の帯は洗い張りや丸洗い・しみ抜きができるものもありますが、基本的に帯はよっぽど目立つしみがなければ洗わない方が良いです。[TBD]<br>
        </p>

        <li>撥水をしてあるきものでも丸洗い、洗い張り可能でしょうか？[TBD]</li>
        <p>可能です。（手間はかかりますが。。）[TBD]<br>
        </p>

    </ul>
</section>

<section>
    <h2>Price</h2>
    <p>The charge is for the process it needs like unstitching.<br>
        It also includes the charge for washing liners.<br>
        "Tokusen" means Homba-Oshima, Hon-Yuki, etc. "Tema-mono" means fabric??? bleeding ??? 特選とは本場大島や本結城など、手間物とは弱生地や色のにじみそうな生地です。[TBD]</p>

    {% include price-list.html menu="洗い張り" %}

    <h2>洗い張りから仕立ての料金[TBD]</h2>
    <p>解き、端縫い、洗い張り代を含んだ料金です。[TBD]</p>
    <p>長襦袢の料金には半衿、居敷当て代が含まれています。[TBD]</p>

    {% include price-list.html menu="洗い張りから仕立て" %}
</section>
