---
title: 料金一覧
description: きもののお手入れの料金一覧です
main_visual: '/images/f/fee-jumbotron-DSC05252-{width}{pixel_ratio}.jpg'
thumbnail: '/images/f/fee-DSC05252-100-2x.jpg'
snipet_1st: お手入れの
snipet_2nd: 料金一覧です
layout: category-article
category: 'Maintenance of Kimono [TBD]'
order: 100
related:
    - title: お客様感謝祭！
      description: お手入れ料金が割引になるお客様感謝祭についてはこちら。
      link: /event/kanshasai.html
      image: /images/k/kanshasai-related-DSC05278-{width}{pixel_ratio}.JPG
country: us
---
<section>
    <h2>料金について</h2>
    <p>きものによって仕事内容が異なる場合があるため、料金はあくまで目安とお考えください。<br>
        郵送によるご依頼の場合、送料・支払い手数料はお客様負担となりますので、あらかじめご了承ください。</p>
</section>
<section>
    <h2>初めてのお客様特典</h2>
    <p>だるまやを初めてご利用いただくお客様は、感謝祭期間にかかわらず感謝祭割引料金にてお請けいたします。<br>
        もちろん、郵送によるご依頼でもOKです。<br>
        ご不明な点は遠慮なくお問い合わせください！<br>
    </p>
</section>
<section>
    <h2>洗い張りの料金</h2>
    <p>解き、端縫い代を含んだ料金です。裏地（胴裏、八掛、羽裏など）の洗い張り代も含みます。<br>
        特選とは本場大島や本結城など、手間物とは弱生地や色のにじみそうな生地です。</p>

    {% include price-list.html menu="洗い張り" %}

    <h2>洗い張りから仕立ての料金</h2>
    <p>解き、端縫い、洗い張り代を含んだ料金です。<br>
        長襦袢の料金には半衿、居敷当て代が含まれています。</p>

    {% include price-list.html menu="洗い張りから仕立て" %}

    <h2>丸洗いとしみ抜きの料金</h2>
    <p>丸洗いをして、共衿、袖口、裾など通常着て汚れる場所をしみ抜きした場合の料金です。<br>
        汚れの範囲や落ちにくさによって変わりますので、あくまで目安とお考えください。</p>

    {% include price-list.html menu="丸洗いとしみ抜き" %}

    <h2>染めの料金</h2>
    <p>反物の状態のきものを無地に染める料金です。<br>
        無地のきものの染め直し、柄を活かして染め直しは「きものの再生事例」をご覧ください。</p>

    {% include price-list.html menu="染め" %}

    <h2>紋入れ</h2>

    {% include price-list.html menu="紋入れ" %}

    <h2>湯のしの料金</h2>

    {% include price-list.html menu="湯のし" %}

    <h2>本湯通しの料金</h2>

    {% include price-list.html menu="本湯通し" %}

</section>
<section>
    <h2>郵送の際の支払い方法</h2>
    <h3>銀行口座</h3>
    <p>三井住友銀行</p>
    <p>平塚支店(565)</p>
    <p>普通　3360141</p>
    <p>ヤギノブ</p>
    <br>
    <p>ゆうちょ銀行（ネット振込）</p>
    <p>ゼロニハチ支店(028)</p>
    <p>普通　2581242</p>
    <p>ヤギノブ</p>
    <br>
    <p>ゆうちょ銀行（銀行での手続き）</p>
    <p>記号：10290</p>
    <p>普通　25812421</p>
    <p>ヤギノブ</p>
    <br>
    <h3>代引手数料</h3>
    <p>10,000円未満・・・324円</p>
    <p>10,000円以上30,000円未満・・・432円</p>
    <p>30,000円以上100,000円未満・・・648円</p>
    <p>100,000円以上300,000円未満・・・1080円</p>
    <br>
    <h3>送料・箱代</h3>
    <p>枚数によりますが、1000円〜2000円</p>
</section>

