---
title: しみ抜き
description: きものの汚れを丸刷毛で一枚一枚落とします。
main_visual: '/images/s/shiminuki-jumbotron-DSC06103-{width}{pixel_ratio}.jpg'
snipet_1st: きものを解かずに
snipet_2nd: 汚れを落とします
layout: category-article
category: 'Maintenance of Kimono [TBD]'
order: 20
carousel:
    - title: 事前確認
      description: お客様からお預かりする際に汚れている場所、生地が丈夫か、色がにじみそうか、などを確認します。
      image: /images/s/shiminuki-jizenkakunin-DSC05240-{width}{pixel_ratio}.JPG
    - title: 汚れの確認
      description: お預かりしたきものを一枚一枚広げ、汚れている場所を細かくチェックし、<br>分かりづらい汚れは糸印を付けます。
      image: /images/s/shiminuki-yogorenokakunin-DSC05226-{width}{pixel_ratio}.JPG
    - title: しみ抜き
      description: 部分的なしみや汚れを、汚れの種類に合わせて溶剤を変えて落としていきます。
      image: /images/s/shiminuki-shiminuki-DSC06103-{width}{pixel_ratio}.JPG
    - title: 乾かす
      description: 一度乾かして汚れの落ち具合を確認します。<br>まだ落ちていない場合は再度しみ抜きを行います。
      image: /images/s/shiminuki-kawakasu1-DSC06088-{width}{pixel_ratio}.JPG
    - title: 丸洗い
      description: 全体的な汚れは丸洗いをして落とします。
      image: /images/s/shiminuki-maruarai-DSC06091-{width}{pixel_ratio}.JPG
    - title: 乾かす
      description: 再度乾かし、汚れの残り具合を確認します。
      image: /images/s/shiminuki-kawakasu2-DSC06121-{width}{pixel_ratio}.JPG
    - title: 地直し
      description: カビによる黄変など、しみ抜きをしても落ちない場合や、<br>生地の色が落ちてしまっている場合、染料をのせてしみを目立たなくします。
      image: /images/s/shiminuki-jinaoshi-DSC06111-{width}{pixel_ratio}.JPG
    - title: 仕上げ
      description: 蒸気に当てながら生地のしわを伸ばします。
      image: /images/s/shiminuki-shiage-DSC06073-{width}{pixel_ratio}.JPG
    - title: 検品
      description: 畳紙に入れながら、再度落ちていない汚れがないか確認します。<br>どうしても落ちない汚れもありますが、落ちそうな汚れであれば再度しみ抜きを行います。
      image: /images/s/shiminuki-kenpin-DSC06130-{width}{pixel_ratio}.JPG
country: us
---
<section>
    <h2>丸洗い・しみ抜きとは</h2>
    <p>丸洗い・しみ抜きとは、丸刷毛と揮発性の溶剤を使い、きものを解かずに汚れを落とすことです。<br>
        全体的に汚れを落とすことを丸洗い、特に汚れている部分を重点的に綺麗にすることをしみ抜きと言います。<br>
        丸洗いはお店によって、京洗い、生洗いなどと呼ぶ場合もあります。<br>
</section>

<section>
    <h2>丸洗い・しみ抜きの手順</h2>
    <div class="row">
        <div class="col-xs-12 col-md-offset-1 col-md-9 col-lg-offset-2 col-lg-7">
            {% include carousel.html %}
        </div>
    </div>
</section>

<section>
    <h2>お客様にお願いしたいこと</h2>
    <ul>
        <li>自分でしみを落とそうとしない</li>
            <p>しみをつけてしまった際に、ベンジンなどを使用して自分でしみを落とそうしないでください。<br>
                しみを広げてしまったり、生地を傷めてしまったり、生地の色を落としてしまったりして、状態をより悪化させてしまう場合があります。 <br>
                お食事のときに醤油などをつけてしまった場合は、あわてずに乾いた布で吸い取るように拭いてください。 <br>
                そして次に着る予定がなければなるべく早くお近くの専門店へお持ちになってください。</p>
        <li>汚れをほうっておかない</li>
            <p>しみをつけてしまった場合や、カビが生えてしまった場合は、ほうっておかずになるべく早く専門店へお持ちください。<br>
                しみは時間が経つにつれて落ちにくくなるため、ほうっておくと、しみ抜きにかかる費用が高くなったり、汚れが落ちなくなってしまったりします。<br>
                1度着たら必ず汚れると考え、次に着る予定がないのであればなるべく早く専門店へお持ちください。</p>
        <li>1年に2度の陰干し</li>
            <p>しみの原因の一つにカビがあります。<br>
                タンスにしまいっぱなしにせず、できれば1年に2度程度、2,3日間の陰干しをしてください。</p>

        <li>畳紙をこまめに入れ替える</li>
            <p>きものを入れている 畳紙たとうしは、できるだけこまめに入れ替えてください。<br>
                畳紙が黄色くなる原因の多くはカビによる変色のため、ほうっておくと畳紙のカビがきものに移ってしまいます。<br>
                当店でも畳紙を販売しております。</p>
    </ul>
</section>

<section>
    <h2>丸洗い・しみ抜きにかかる期間</h2>
    <p>丸洗い・しみ抜きには通常1ヶ月から1ヶ月半ほどいただいています。<br>
        着る予定が決まっている場合は、急ぎで仕上げることもできますので、遠慮無くご相談ください。</p>
</section>

<section>
    <h2>丸洗いとしみ抜きの料金</h2>
    <p>丸洗いをして、共衿、袖口、裾など通常着て汚れる場所をしみ抜きした場合の料金です。<br>
        汚れの範囲や落ちにくさによって変わりますので、あくまで目安とお考えください。</p>

    {% include price-list.html menu="丸洗いとしみ抜き" %}

</section>
