---
layout: default
---
{% include jumbotron.html %}

{% include breadcrumbs.html %}

<main class="container">
    {{ content }}
</main>

<section class="container">
    <h2>下層ページ一覧</h2>
    <div>
        <ul class="nav nav-card">
            {% assign pages = site.pages | sort: 'order' %}
            {% for child in pages %}
            {% if page.category == child.category %}
            {% if child.category != child.title %}
            {% if page.url == child.url %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
                <a href="{{ child.url }}">
                    <img src="{{ child.thumbnail }}" alt="{{ child.title }}" class="img-responsive img-rounded nav-card-img">
                    <div class="nav-card-label">
                        {{ child.title }}
                    </div>
                </a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>