---
layout: default
---
<div class="jumbotron">
    <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
        <p><a href="{{ page.main-visual }}">{{ page.main-visual }}</a></p>
    </div>
</div>
<div class="container">
    <ol class="breadcrumb">
        {% if page.category %}
        {% if page.category == page.title %}
        <li><a href="/">Home</a></li>
        <li class="active">{{ page.category }}</li>
        {% else %}
        <li><a href="/">Home</a></li>
        <li><a href="./">{{ page.category }}</a></li>
        <li class="active">{{ page.title }}</li>
        {% endif %}
        {% else %}
        <li class="active">Home</li>
        {% endif %}
    </ol>
</div>
<div class="container">
    {{ content }}
</div>
<div class="container">
    <h2>下層ページ一覧</h2>
    <ul class="nav nav-pills">
        {% for child in site.pages %}
        {% if page.category == child.category %}
        {% if child.category != child.title %}
        {% if page.url == child.url %}
        <li class="active"><a href="{{ child.url }}">{{ child.title }}</a></li>
        {% else %}
        <li><a href="{{ child.url }}">{{ child.title }}</a></li>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
</div>
