<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>Darumaya Kyozome Honten</h4>
                <p>
                    5−7, Akashi-cho, Hiratsuka-city, Kanagawa, JAPAN<br>
                    ZIP: 254-0042<br>
                    Seven minutes walk from the ...[TBD]
                </p>
                <p class=" text-center">
                    <button class="visible-xs-inline btn" id="btnMap"><span class="glyphicon glyphicon-map-marker"></span>Open with app</button>
                </p>
                <p>
                    <a href="tel:0463211411">0463-21-1411</a><br>
                    9:00〜18:30(Closed on Wednsday)
                </p>
                <p class="visible-xs-block text-center">
                    <a href="tel:0463211411" class="btn" style="letter-spacing: 4px;"><span class="glyphicon glyphicon-earphone"></span>Call</a>
                </p>
                <p class="hidden-xs">
                    <a href="/information/shop.html">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="map">
                        see large map
                    </a>
                </p>
            </div>
            <div class="col-sm-4">
                <form action="https://docs.google.com/forms/d/1sxwcnopNXUuzeFkLgtXKbAx_sVb_kdvIoB0XpdOFB_4/formResponse" method="post" data-category="お問い合わせ" data-action="フッター">
                    <h4>Contact</h4>
                    <p>
                        <input type="text" class="form-control input-sm" name="entry.514625123" id="entry_514625123" placeholder="Name (mandatory) [TBD]" required>
                    </p>
                    <p>
                        <input type="tel" class="form-control input-sm" name="entry.644890284" id="entry_644890284" pattern="[\d\+\-]+" placeholder="Phone [TBD]">
                    </p>
                    <p>
                        <input type="email" class="form-control input-sm" name="entry.1144597065" id="entry_1144597065" placeholder="E-Mail [TBD]">
                    </p>
                    <p>
                        <input type="text" class="form-control input-sm" name="entry.1865897516" id="entry_1865897516" placeholder="Address (mandatory if you need postcard) [TBD]">
                    </p>
                    <p>
                        <textarea class="form-control input-sm" name="entry.162745380" id="entry_162745380" rows="5" placeholder="Message (mandatory) [TBD]" required></textarea>
                    </p>
                    <p class="text-center">
                        <input type="hidden" name="draftResponse" value="[,,&quot;-3893810174084285007&quot;] ">
                        <input type="hidden" name="pageHistory" value="0">
                        <input type="hidden" name="fbzx" value="-3893810174084285007">
                        <button type="submit" class="btn btn-footer-contact" id="ss-submit">Send[TBD]</button>
                    </p>
                </form>
            </div>
            <div class="col-sm-4">
                <form action="https://docs.google.com/forms/d/1lhEtsXJZrD_ZhHU1HNNoKjvyCM7psp-_ZieWIIQof_w/formResponse" method="post" data-category="メルマガ" data-action="フッター">
                    <h4>Subscribe Mail Magazine (Japanese Only) [TBD]</h4>
                    <p>
                        <input type="text" class="form-control input-sm" name="entry.754037029" id="entry_754037029" placeholder="Name (mandatory) [TBD]" required>
                    </p>
                    <p>
                        <input type="email" class="form-control input-sm" name="entry.962431846" id="entry_962431846" placeholder="E-Mail (mandatory) [TBD]" required>
                    </p>
                    <p class="text-center">
                        <label class="radio-inline">
                            <input type="radio" checked name="entry.1104681476" id="group_1104681476_1" value="HTML Mail">
                            HTML Mail
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="entry.1104681476" id="group_1104681476_2" value="Text Mail">
                            Text Mail
                        </label>
                    </p>
                    <p class="text-center">
                        <input type="hidden" name="draftResponse" value="[,,&quot;6067762280875059710&quot;] ">
                        <input type="hidden" name="pageHistory" value="0">
                        <input type="hidden" name="fbzx" value="6067762280875059710">
                        <button type="submit" class="btn btn-footer-mailmagazine" id="ss-submit" value="送信">Apply[TBD]</button>
                    </p>
                </form>

                <h4>Subscribe Facebook Page [TBD]</h4>
                <div class="fb-like-box"
                     data-href="https://www.facebook.com/pages/だるまや京染本店/359733750720382"
                     data-colorscheme="light"
                     data-show-faces="false"
                     data-header="false"
                     data-stream="false"
                     data-show-border="false"></div>
            </div>
        </div>
        <p class="copyright">Copyright &copy; 2014 Darumaya Kyozome Honten. All Rights Reserved.</p>
    </div>
</footer>
