<form action="https://docs.google.com/forms/d/e/1FAIpQLSfYPNQW_zEF76mQhyQkYFpsxnUrK9q_VBk185n_acho-Hzhbg/formResponse" method="post" data-category="メルマガ" data-action="us/フッター">
    <h4>Subscribe Mail News (Japanese Only)[TBD]</h4>
    <p>
        <input type="text" class="form-control input-sm" name="entry.754037029" id="entry_754037029" placeholder="Name (mandatory)[TBD]" required>
    </p>
    <p>
        <input type="email" class="form-control input-sm" name="entry.962431846" id="entry_962431846" placeholder="E-Mail (mandatory)[TBD]" required>
    </p>
    <p class="text-center">
        <label class="radio-inline">
            <input type="radio" checked name="entry.1104681476" id="group_1104681476_1" value="HTML Mail[TBD]">
            HTML Mail[TBD]
        </label>
        <label class="radio-inline">
            <input type="radio" name="entry.1104681476" id="group_1104681476_2" value="Text Mail">
            Text Mail[TBD]
        </label>
    </p>
    <p class="text-center">
        <input type="hidden" name="draftResponse" value="[,,&quot;&quot;] ">
        <input type="hidden" name="pageHistory" value="0">
        <input type="hidden" name="fbzx" value="">
        <button type="submit" class="btn btn-footer-mailmagazine" id="ss-submit" value="&#36865;&#20449;">Apply[TBD]</button>
    </p>
</form>