<!-- Begin MailChimp Signup Form -->
<!-- link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css"></link-->
<!--style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<br /-->
<div id="mc_embed_signup">
    <form action="http://darumaya-gofuku.us7.list-manage.com/subscribe/post?u=1eaeb7238811aa37c02cbd99c&amp;id=40ffff309c" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank" data-category="メルマガ" data-action="催事のご案内">
        <div class="row form-group">
            <label for="mce-EMAIL" class="col-sm-3 control-label">メールアドレス（必須）[TBD]</label>
            <div class="col-sm-9 col-lg-6">
                <input type="email" class="form-control" name="EMAIL" id="mce-EMAIL" placeholder="例：contact@darumaya-gofuku.jp[TBD]" required />
            </div>
        </div>
        <div class="row form-group">
            <label for="mce-FNAME" class="col-sm-3 control-label">お名前（必須）[TBD]</label>
            <div class="col-sm-9 col-lg-6">
                <input class="form-control" id="mce-FNAME" name="FNAME" type="text" placeholder="例：八木賢一[TBD]" required />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3 control-label"><label>メール形式（必須）[TBD]</label></div>
            <div class="col-sm-9 col-lg-6">
                <div class="radio" style="margin-top: 0;">
                    <label>
                        <input id="mce-EMAILTYPE-0" name="EMAILTYPE" type="radio" value="html" checked />
                        HTML（画像付き）[TBD]
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input id="mce-EMAILTYPE-1" name="EMAILTYPE" type="radio" value="text" />
                        テキスト（文章のみ）[TBD]
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9" id="mce-responses">
                <div class="alert alert-danger" id="mce-error-response" style="display: none;">
                </div>
                <div class="alert alert-success" id="mce-success-response" style="display: none;">
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9">
                <input class="btn btn-aqua" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Subscribe[TBD]" style="padding-left: 14px; letter-spacing: 2px;" />
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';
    try {
        var jqueryLoaded=jQuery;
        jqueryLoaded=true;
    } catch(err) {
        var jqueryLoaded=false;
    }
    var head= document.getElementsByTagName('head')[0];
    if (!jqueryLoaded) {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
        head.appendChild(script);
        if (script.readyState && script.onload!==null){
            script.onreadystatechange= function () {
                if (this.readyState == 'complete') mce_preload_check();
            }
        }
    }
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
    head.appendChild(script);
    var err_style = '';
    try{
        err_style = mc_custom_error_style;
    } catch(e){
        err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
    }
    var head= document.getElementsByTagName('head')[0];
    var style= document.createElement('style');
    style.type= 'text/css';
    if (style.styleSheet) {
        style.styleSheet.cssText = err_style;
    } else {
        style.appendChild(document.createTextNode(err_style));
    }
    head.appendChild(style);
    setTimeout('mce_preload_check();', 250);

    var mce_preload_checks = 0;
    function mce_preload_check(){
        if (mce_preload_checks>40) return;
        mce_preload_checks++;
        try {
            var jqueryLoaded=jQuery;
        } catch(err) {
            setTimeout('mce_preload_check();', 250);
            return;
        }
        try {
            var validatorLoaded=jQuery("#fake-form").validate({});
        } catch(err) {
            setTimeout('mce_preload_check();', 250);
            return;
        }
        mce_init_form();
    }
    function mce_init_form(){
        jQuery(document).ready( function($) {
            var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
            var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
            $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
            options = { url: 'http://darumaya-gofuku.us7.list-manage.com/subscribe/post-json?u=1eaeb7238811aa37c02cbd99c&id=40ffff309c&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                beforeSubmit: function(){
                    $('#mce_tmp_error_msg').remove();
                    $('.datefield','#mc_embed_signup').each(
                            function(){
                                var txt = 'filled';
                                var fields = new Array();
                                var i = 0;
                                $(':text', this).each(
                                        function(){
                                            fields[i] = this;
                                            i++;
                                        });
                                $(':hidden', this).each(
                                        function(){
                                            var bday = false;
                                            if (fields.length == 2){
                                                bday = true;
                                                fields[2] = {'value':1970};//trick birthdays into having years
                                            }
                                            if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                                this.value = '';
                                            } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                                this.value = '';
                                            } else {
                                                if (/\[day\]/.test(fields[0].name)){
                                                    this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;
                                                } else {
                                                    this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                                }
                                            }
                                        });
                            });
                    return mce_validator.form();
                },
                success: mce_success_cb
            };
            $('#mc-embedded-subscribe-form').ajaxForm(options);
        });
    }
    function mce_success_cb(resp){
        $('#mce-success-response').hide();
        $('#mce-error-response').hide();
        if (resp.result=="success"){
            $('#mce-'+resp.result+'-response').show();
            $('#mce-'+resp.result+'-response').html(resp.msg);
            $('#mc-embedded-subscribe-form').each(function(){
                this.reset();
            });
        } else {
            var index = -1;
            var msg;
            try {
                var parts = resp.msg.split(' - ',2);
                if (parts[1]==undefined){
                    msg = resp.msg;
                } else {
                    i = parseInt(parts[0]);
                    if (i.toString() == parts[0]){
                        index = parts[0];
                        msg = parts[1];
                    } else {
                        index = -1;
                        msg = resp.msg;
                    }
                }
            } catch(e){
                index = -1;
                msg = resp.msg;
            }
            try{
                if (index== -1){
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);
                } else {
                    err_id = 'mce_tmp_error_msg';
                    html = '<div id="'+err_id+'" style="'+err_style+'">'+msg+'</div>';

                    var input_id = '#mc_embed_signup';
                    var f = $(input_id);
                    if (ftypes[index]=='address'){
                        input_id = '#mce-'+fnames[index]+'-addr1';
                        f = $(input_id).parent().parent().get(0);
                    } else if (ftypes[index]=='date'){
                        input_id = '#mce-'+fnames[index]+'-month';
                        f = $(input_id).parent().parent().get(0);
                    } else {
                        input_id = '#mce-'+fnames[index];
                        f = $().parent(input_id).get(0);
                    }
                    if (f){
                        $(f).append(html);
                        $(input_id).focus();
                    } else {
                        $('#mce-'+resp.result+'-response').show();
                        $('#mce-'+resp.result+'-response').html(msg);
                    }
                }
            } catch(e){
                $('#mce-'+resp.result+'-response').show();
                $('#mce-'+resp.result+'-response').html(msg);
            }
        }
    }
</script>
<!--End mc_embed_signup-->
