<form action="https://docs.google.com/forms/d/e/1FAIpQLSeBUZhuI9dGVGfAHX8QZ25HoQ2Y-77LEbTlBr3N0tvCpbNi0g/formResponse" method="post" data-category="お問い合わせ" data-action="us/フッター">
    <h4>Contact</h4>
    <p>
        <input type="text" class="form-control input-sm" name="entry.514625123" id="entry_514625123" placeholder="Name (mandatory)[TBD]" required>
    </p>
    <p>
        <input type="tel" class="form-control input-sm" name="entry.644890284" id="entry_644890284" pattern="[\d\+\-]+" placeholder="Phone[TBD]">
    </p>
    <p>
        <input type="email" class="form-control input-sm" name="entry.1144597065" id="entry_1144597065" placeholder="E-Mail[TBD]">
    </p>
    <p>
        <input type="text" class="form-control input-sm" name="entry.1865897516" id="entry_1865897516" placeholder="Address (mandatory if you need postcard)[TBD]">
    </p>
    <p>
        <textarea class="form-control input-sm" name="entry.162745380" id="entry_162745380" rows="5" placeholder="Message (mandatory)[TBD]" required></textarea>
    </p>
    <p class="text-center">
        <input type="hidden" name="draftResponse" value="[,,&quot;2799815674262074728&quot;] ">
        <input type="hidden" name="pageHistory" value="0">
        <input type="hidden" name="fbzx" value="2799815674262074728">
        <button type="submit" class="btn btn-footer-contact" id="ss-submit">Send[TBD]</button>
    </p>
</form>
