<form action="https://docs.google.com/forms/d/e/1FAIpQLSdg6p4Dtvmzok534u3Nvr-7v1FALQBDp2CwHj_uxDLxbEE5Hw/formResponse" method="post" data-category="お客様の声" data-action="us/お客様の声">
    <div class="row form-group">
        <label for="entry_1149987365" class="col-sm-4 col-md-3 control-label">名前（ペンネーム可）[TBD]</label>
        <div class="col-sm-8 col-md-7 col-lg-6">
            <input type="text" class="form-control" name="entry.1149987365" id="entry_1149987365" placeholder="例：八木賢一（だるまや6代目）[TBD]">
        </div>
    </div>
    <div class="row form-group">
        <label class="col-sm-4 col-md-3 control-label">年代・性別[TBD]</label>
        <div class="col-sm-8 col-md-9">
            <div class="radio">
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_1" value="Female 20s[TBD]">
                    Female 20s[TBD]
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_2" value="Female 30s[TBD]">
                    Female 30s[TBD]
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_3" value="Female 40s[TBD]">
                    Female 40s[TBD]
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_4" value="Female 50s[TBD]">
                    Female 50s[TBD]
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_5" value="Female 60s[TBD]">
                    Female 60s[TBD]
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_6" value="Female 70s[TBD]">
                    Female 70s[TBD]
                </label>
            </div>
            <div class="radio">
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_7" value="Male 20s[TBD]">
                    Male 20s[TBD]
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_8" value="Male 30s[TBD]">
                    Male 30s[TBD]
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_9" value="Male 40s[TBD]">
                    Male 40s[TBD]
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_10" value="Male 50s[TBD]">
                    Male 50s[TBD]
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_11" value="Male 60s[TBD]">
                    Male 60s[TBD]
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="entry.429167270" id="group_429167270_12" value="Male 70s[TBD]">
                    Male 70s[TBD]
                </label>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <label for="entry_1715910836" class="col-sm-4 col-md-3 control-label">住んでいる地域[TBD]</label>
        <div class="col-sm-8 col-md-7 col-lg-6">
            <input type="text" class="form-control" name="entry.1715910836" id="entry_1715910836" placeholder="例：神奈川県平塚市[TBD]">
        </div>
    </div>
    <div class="row form-group">
        <label for="entry_1192147376" class="col-sm-4 col-md-3 control-label">だるまやのエピソード[TBD]</label>
        <div class="col-sm-8 col-md-9">
            <textarea class="form-control" name="entry.1192147376" id="entry_1192147376" rows="5" placeholder="だるまやを知ったきっかけ、印象など[TBD]"></textarea>
        </div>
    </div>
    <div class="row form-group">
        <label for="entry_2102270235" class="col-sm-4 col-md-3 ontrol-label">改善してほしいところ[TBD]</label>
        <div class="col-sm-8 col-md-9">
            <textarea class="form-control" name="entry.2102270235" id="entry_2102270235" rows="5" placeholder="ここを直してくれたらもっと良くなるのに！ってところ[TBD]"></textarea>
        </div>
    </div>
    <div class="row form-group">
        <label class="col-sm-4 col-md-3 control-label">ホームページ等での掲載可否[TBD]</label>
        <div class="col-sm-8 col-md-9">
            <span id="helpBlock" class="help-block" style="margin-top: 0;">ご記入いただいた「お客様の声」をホームページなどに掲載して良いでしょうか？[TBD]</span>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.633279669" id="group_633279669_1" value="別に載せてもOK[TBD]">
                    別に載せてもOK[TBD]
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.633279669" id="group_633279669_2" value="ペンネームならいいけど[TBD]">
                    ペンネームならいいけど[TBD]
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.633279669" id="group_633279669_3" value="絶対イヤだーー[TBD]">
                    絶対イヤだーー[TBD]
                </label>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9">
            <input type="hidden" name="draftResponse" value="[,,&quot;6474128967916254564&quot;] ">
            <input type="hidden" name="pageHistory" value="0">
            <input type="hidden" name="fbzx" value="5689890818800433154">
            <button type="submit" class="btn btn-aqua" id="ss-submit" style="padding-left: 32px; letter-spacing: 20px;">送信[TBD]</button>
        </div>
    </div>
</form>
