{% include variables.html %}
<nav class="navbar navbar-static-top" role="navigation">
    <div class="noren-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/{{ country_path }}">
                    <h1 class="logo">
                        <div class="symbol-mark hidden-xs"></div>
                        <div class="logo-type text-hide">Darumaya Kyozome Honten</div>
                    </h1>
                    <p class="tag-line hidden-xs">Traditional way of maintenance… [TBD]</p>
                </a>
            </div>
            {% include country-dropdown.html %}
        </div>
    </div>
    <div class="noren-bottom">
        <div class="container">
            <div class="collapse navbar-collapse nav-noren-wrapper" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav nav-noren">
                    {% if page.category == 'About [TBD]' %}
                    <li class="active"><a href="/{{ country_path }}information/">About {{ country_path }} [TBD]</a></li>
                    {% else %}
                    <li><a href="/{{ country_path }}information/">About [TBD]</a></li>
                    {% endif %}
                    {% if page.category == 'Maintenance [TBD]' %}
                    <li class="active"><a href="/{{ country_path }}maintenance/">Maintenance [TBD]</a></li>
                    {% else %}
                    <li><a href="/{{ country_path }}maintenance/">Maintenance [TBD]</a></li>
                    {% endif %}
                    {% if page.category == 'Renovation [TBD]' %}
                    <li class="active"><a href="/{{ country_path }}revival/">Renovation [TBD]</a></li>
                    {% else %}
                    <li><a href="/{{ country_path }}revival/">Renovation [TBD]</a></li>
                    {% endif %}
                    {% if page.category == 'Coordinate [TBD]' %}
                    <li class="active"><a href="/{{ country_path }}coordinate/">Coordinate [TBD]</a></li>
                    {% else %}
                    <li><a href="/{{ country_path }}coordinate/">Coordinate [TBD]</a></li>
                    {% endif %}
                    {% if page.category == 'Event [TBD]' %}
                    <li class="active"><a href="/{{ country_path }}event/">Event [TBD]</a></li>
                    {% else %}
                    <li><a href="/{{ country_path }}event/">Event [TBD]</a></li>
                    {% endif %}
                    <li><a href="http://blog.darumaya-gofuku.jp/">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
